@media screen and (max-width: 1200px){
	header .gr-header{
		grid-template-columns: 180px calc(44.2% - 10px) 15.5% calc(21% - 9px);
	}	
}

@media screen and (max-width: 1100px){
	header .gr-header{
		grid-template-columns: 180px calc(42.2% - 10px) 15.5% calc(21% - 9px);
	}

	.menu-dashboard{
		max-width: 220px;
	}

	.content-dashboard{
		width: calc(100% - 220px);
	}

	.content-dashboard .center{
		max-width: 90%;
		margin-left: 30px;
	}
}

@media screen and (max-width: 1080px){
	.slider-ficha-nav .item{
		width: 70px!important;
		height: 70px!important;
	}
}

@media screen and (max-width: 1024px){
	.gr-footer{
		grid-template-columns: 23% 17% 16% 16% 24%;
	}

	.content_metodosFooter{
		grid-template-columns: repeat(1, auto);
		grid-row-gap: 20px;
		margin-bottom: 20px;
	}

	.resumen-compra{
		margin-right: 0px;
	}

	.datos-compra form{
		padding-right: 40px;
	}
}

@media screen and (max-width: 1010px){
	.left-contact{
		width: 40%;
	}

	.gr-catalogos{
		grid-template-columns: repeat(2, calc(50% - 10px));
		grid-row-gap: 20px;
	}

	.gr-catalogos .col{
		max-width: 100%;
	}
}

@media screen and (max-width: 1000px){
	header .gr-header{
		grid-template-columns: 24px 180px calc(41.2% - 10px) 27%;
	}	

	nav {
		display: none;
	}

	.colnav-res{
		display: block;
	}

	.col-distribuidor{
		display: none;
	}

}

@media screen and (max-width: 950px){
	.gr-catDestacadas{
		grid-template-columns: repeat(2,calc(50% - 15px));
	}

	.gr-ficha{
		grid-template-columns: repeat(2, 50%);
	}

	.box-info .gr-accionesCarro{
		grid-template-columns: 100%;
	}

	.box_main_qty{
		max-width: 190px;
	}

	.box-info .gr-accionesCarro-dim{
		grid-template-columns: 100%!important;
	}

	.gr-dimensiones{
		grid-template-columns: 100%!important;
	}

	.gr-destacadosBanner{
		grid-template-columns: 100%;
	}

	.gr-destacadosBanner .col:nth-child(2){
		display: none;
	}
}

@media screen and (max-width: 930px){
	.gr-direccion-carro{
		grid-template-areas: "one two two" "three three three" "four five five";
		grid-row-gap: 15px;
	}
}

@media screen and (max-width: 920px){
	.content_carro_cot{
		width: 95%;
	}
}

@media screen and (max-width: 900px){
	.banner40{
		display: none;
	}

	.bg-distribuidor{
		display: none;
	}

	.hd_content-form{
		position: initial;
		margin-top: 20px;
	}
}

@media screen and (max-width: 860px){
	.sliderProduct{
		display: none;
	}

	.sliderProduct-xs{
		display: block;
	}

	.grilla-4{
		grid-template-columns: repeat(2, calc(50% - 10px))!important;
	}

	.gr-grilla{
		grid-template-columns: 30% auto;
	}

	.productos-grilla{
		grid-template-columns: repeat(2, calc(50% - 10px));
	}

	.bannerCol{
		display: none;
	}
}

@media screen and (max-width: 850px){
	.datos-compra,
	.datos-cargados{
		width: 55%;
	}

	.datos-cargados{
		padding-right: 30px;
	}

	.main-direcciones{
		width: 100%;
	}

	#formPagoLogin .btnAgregarDireccion{
		width: 100%;
		max-width: 100%;
	}

	.tabs-carro .col .material-icons{
		width: 100%;
	}

	.tabs-carro{
		height: auto;
	}

	.medios{
		grid-template-columns: repeat(2, auto);
		grid-row-gap: 20px;
	}
}

@media screen and (max-width: 830px) {
	.search_xs{
		display: block;
	}

	.search_xs img{
		width: 26px;
	}

	.principal-search,
	.col-buscador{
		display: none;
	}

	.gr-buttonHeader{
		grid-template-columns: repeat(4, auto);
		justify-content: end;
		grid-column-gap: 20px;
	}

	header .gr-header{
		grid-template-columns: 24px 180px auto;
	}

	.box_action span{
		display: none;
	}

	.box_action small.qty_cot{
		right: -9px;
	}

	.box_action small.qty_cart{
		right: -10px;
	}

	.responsive_search{
		height: 108px;
	}

	.gr-cotizacion{
		grid-template-columns: 100%;
		grid-row-gap: 20px;
	}

	.content_form_cotizacion{
		float: left;
		max-width: 100%;
	}
}

@media screen and (max-width: 820px){
	.gr-como-comprar{
		grid-template-columns: 100%;
		grid-row-gap: 20px;
	}
}

@media screen and (max-width: 780px){
	.gr-footer .col:nth-child(1){
		display: none;
	}

	.gr-footer{
		grid-template-columns: 100%;
		grid-template-areas: "contacto" "horarios" "categorias" "suscribete";
		width: 100%;
	}

	.img-resp_footer{
		display: block;
		width: 100%;
		padding: 0 5%;
	}

	.content_metodosFooter{
		grid-template-columns: repeat(3, auto);
		max-width: 320px;
    	width: 100%;
    	padding: 0 5%;
	}

	footer{
		padding: 10px 0 0 0;
	}

	.open-footer{
		height: 46px;
	    line-height: 46px;
	    padding: 0 5%;
	    border-bottom: 1px solid #01136c;
	}

	.gr-footer .col .listFooter{
		background: #020b39;
		margin: 0;
		margin-top: 0;
		padding: 20px 5%;
		display: none;
	}

	.notopen_footer{
		margin-top: 20px;
		padding: 0 5%;
	}

	.content_news{
		padding: 0 5%;
	}

	.linksFooter{
		display: none;
	}

	.linksFooter-xs{
		display: block;
		padding: 0 5%;
	}

	.linksFooter-xs a{
		display: block;
		color: #fff;
		margin-bottom: 15px;
	}

	.open-footer .material-icons{
		display: block;
		float: right;
	    margin-top: 2px;
	    font-size: 36px;
	}

	.resumen-compra{
		float: initial;
		position: initial;
		max-width: 100%;
		border: 0;
	}

	.btnMostrarResumen{
		display: block;
	}

	.envio-pago{
		padding-top: 0;
	}

	.contenedor{
		width: 95%;
		padding: 0;
	}

	.resumen-compra .cartResumen .title{
		display: none;
	}

	.resumen-cel{
		overflow: hidden;
		margin-bottom: 25px;
		box-shadow: 0 0 0 transparent;
	}

	.resumen-desk{
		display: none;
		margin-bottom: 25px;
		overflow: hidden;
		box-shadow: initial;
	}

	.datos-compra,
	.datos-cargados{
		width: 100%;
	}

	.datos-cargados{
		padding-right: 0;
	}

	.content-resumen-cel{
		margin-bottom: 10px;
		overflow: hidden;
	}

	.datos-compra form{
		padding-right: 0;
	}

	.gr-somos{
		grid-template-columns: 100%;
		grid-row-gap: 20px;
	}

	.gr-somos .col:last-child{
		text-align: center;
	}

	.left-contact{
		width: 100%;
	}

	.contact_content-form{
		width: 100%;
	}
}

@media screen and (max-width: 750px){
	.gr-direcciones{
		grid-template-columns: 100%;
	}

	.gr-agregar-direccion, .gr-direccion-carro{
		grid-template-columns: 30% calc(70% - 20px);
		grid-template-areas: "one one" "two two" "three three" "four five"
	}

	.menu-dashboard{
		max-width: 100%;
		margin-bottom: 30px;
	}

	.menu-dashboard .head{
		display: none;
	}

	.menu-dashboard a{
		display: inline-block;
		float: left;
	}

	.form-logout{
		float: left;
	}

	.content-dashboard{
		width: 100%;
	}

	.content-dashboard .center{
		margin-left: 0;
		margin-right: 0;
		max-width: 100%;
	}
}

@media screen and (max-width: 720px){
	.slider-sm{
		display: block!important;
	}

	.slider-xl{
		display: none!important;
	}

	#slider .nav{
		bottom: 10px;
	}

	.gr-buscadorHome{
		grid-template-columns: repeat(2, calc(50% - 10px));
		grid-column-gap: 20px;
		grid-row-gap: 20px;
	}

	.iconos_home{
		display: none;
	}

	.gr-ficha{
		grid-template-columns: 100%;
		grid-row-gap: 20px;
	}

	.slider-ficha-nav{
		width: 10%;
	}

	.box-info{
		margin: 0;
	}

	.name-desk{
		display: none;
	}

	.name-cel{
		display: block;
	}

	.slider-ficha-nav{
		display: none!important;
	}

	.gr-exito{
		grid-template-columns: repeat(2,calc(50% - 10px));
	}
}

@media screen and (max-width: 670px){
	.gr-grilla{
		grid-template-columns: 100%;
	}

	.titulo-cel{
		display: block;
	}

	.titulo-desk{
		display: none;
	}

	.contenedor-filtros{
		display: none;
		position: absolute;
	    background: #fff;
	    top: 0;
	    left: 0;
	    width: 80%;
	    max-width: 285px;
	    z-index: 10001;
	}

	.bg-fil-res{
		display: none;
		z-index: 10000;
	}

	.box_filtro .head-filtro{
		padding: 15px;
	}

	.titulo-filtros-xs{
		display: block;
		font-weight: bold;
		color: #001680;
		font-size: 14px;
		padding: 30px 15px 20px 15px;
	}

	.content-order-xs{
		display: block;
		float: right;
	    height: 56px;
	    background: #f5f5f5;
	    width: 50%;
	    text-align: center;
	    border-bottom: 1px solid #ccc;
	    line-height: 56px;
	    position: relative;
	}

	.content-order{
		display: none;
	}

	.tituloFiltros{
		float: left;
		height: 56px;
	    background: #f5f5f5;
	    width: 50%;
	    border-bottom: 1px solid #cccccc;
	    border-right: 1px solid #cccccc;
	    line-height: 56px;
	    text-align: center;
	    color: #000000;
	    font-weight: 400;
	    position: relative;
	}

	.open-fil-res{
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		background: transparent;
	}

	.content-order-xs .box_hidden_order{
		width: 100%;
		top: 102%;
		border-radius: 0 0 4px 4px;
	}

	.content-order-xs .box_hidden_order a{
		padding: 0 20px;
		border-bottom: 1px solid #f0f0f0;
	}

	.content-order-xs .box_hidden_order a:last-child{
		border-bottom: 0px;
	}

	.arrow-filtro{
		opacity: 1;
		margin-left: 5px;
	}

	.content-order-xs .selected-order{
		font-size: 14px;
	}
}

@media screen and (max-width: 620px){

	.top{
		display: none;
	}

	header{
		border-top: 2px solid #001680;
	}

	.responsive_search{
		height: 80px;
		padding: 15px;
	}

	.btnCloseSearch{
		right: 28px;
    	top: 28px;
	}

	.nav_resp{
		top: 81px;
	}

	.gr-catDestacadas{
		grid-template-columns: 100%;
		grid-column-gap: 0px;
	}

	.gr-catDestacadas .col{
		grid-template-columns: 14% 82%;
		grid-column-gap: 10px;
	}

	.gr-catDestacadas .col span{
		margin-bottom: 0px;
	}

	.banner-inf_cel{
		display: block;
	}

	.banner-inf_desk{
		display: none;
	}

	.gr-secBanners{
		grid-template-columns: 100%;
		grid-template-areas: "one" "two" "three";
	}

	.block-cel{
		display: block;
		text-align: center;
	}

	.block-cel span{
		float: initial!important;
		margin: 0;
		margin-left: 0!important;
		font-size: 14px!important;
	}

	.block-desk{
		display: none;
	}

	.datos-compra h4{
		font-size: 14px;
	}

	.gr-catalogos{
		grid-template-columns: 100%;
	}
	
}

@media screen and (max-width: 590px){
	.gr-firstBanners{
		grid-template-columns: 100%;
		grid-template-areas: "one" "two" "three";
	}

	.menu-dashboard a{
		width: 50%;
		text-align: center;
	}

	.form-logout{
		width: 100%;
	}

	.btnLogout{
		text-align: center;
		background: #001680;
		color: #fff;
	}
}

@media screen and (max-width: 520px){
	.double-form{
		grid-template-columns: 100%;
	}

	.main-input{
		margin-bottom: 0px;
	}

	.row-sucursal{
		grid-template-columns: 100%;
	}

	.row-sucursal .map{
		display: none;
	}

	.row-sucursal input[type="radio"]{
		margin: 0;
	}

	.btnRetiro{
		max-width: 100%;
		margin-bottom: 20px;
	}

	#otraPersona{
		margin-bottom: 0!important;
	}
	
	.content_carro_cot .row_cot .nombre{
		width: calc(100% - 110px);
		margin-left: 15px;
	}

	.box_main_qty_cot{
		float: left;
		margin-left: 15px;
	}

	.content_carro_cot .row_cot .action_cot{
		left: 100px;
	}

	.mbxs-20{
		margin-bottom: 20px;
	}

	.popLogin,
	.popRegistro{
		width: 90%;
		left: 5%;
	}

}

@media screen and (max-width: 500px){
	.homeTitle{
		font-size: 16px;
	}

	.row-pedido .header-row, .row-certificados .header-row{
		grid-template-columns: 100%;
		grid-row-gap: 10px;
	}

	.row-pedido .row-producto{
		grid-template-columns: 65% 35%;
	}

	.row-pedido .row-producto .col:nth-child(2){
		text-align: right;
	}

	.row-pedido .btn-pedidos .seguirPedido{
		margin-right: 0;
		margin-top: 15px;
	}

	.row-pedido .btn-pedidos .button{
		width: 100%;
	}

	.row-pedido .body-detalle{
		grid-template-columns: 100%;
		grid-row-gap: 10px;
	}

	.row-certificados .row-producto{
		grid-template-columns: 100%;
	}

	.head_exito .btnComprobante{
		width: 100%;
		margin-bottom: 20px;
	}
	.head_exito .btnReturn{
		width: 100%;
	}
}

@media screen and (max-width: 480px){
	header{
		height: 67px;
	}

	h1.logo{
		width: 140px;
		height: 50px;
	}

	header .gr-header{
		grid-template-columns: 24px 140px auto;
		grid-column-gap: 10px;
	}

	.openDash,
	.openLogin{
		display: none;
	}

	.gr-buttonHeader{
		grid-template-columns: repeat(3, auto);
		grid-column-gap: 10px;
	}

	.responsive_search{
		height: 67px;
    	padding: 10px;
	}

	.btnCloseSearch{
		right: 24px;
    	top: 21px;
	}

	.nav_resp{
		top: 67px;
	}

	.nav_resp .content_login_res{
		display: block;
	}

	.slider-sm{
		display: none!important;
	}

	.slider-xs{
		display: block!important;
	}

	#slider .prev,
	#slider .next{
		display: none;
	}

	#slider .nav{
		bottom: 5px;
	}

	.gr-buscadorHome{
		grid-template-columns: 100%;
	}

	.productos-grilla .item .bodyProduct .name{
		font-size: 14px;
		height: auto;
		margin-bottom: 5px;
	}

	.productos-grilla .item .bodyProduct .prices .finalPrice{
		font-size: 18px;
	}

	.productos-grilla .item .bodyProduct .btnDetails{
		display: none;
	}

	.oferta-grilla{
		width: 36px;
		height: 36px;
		font-size: 12px;
		line-height: 36px;
	}

	.gr-direccion-carro{
		grid-template-areas: "one one" "two two" "three three" "four five";
		grid-row-gap: 15px;
		grid-template-columns: 25% 70%
	}

	.hd_content-form{
		width: 100%;
		box-shadow: 0 0 0 transparent;
	}
}