*{
	box-sizing: border-box;
}

.mb-10{ margin-bottom: 10px!important; }
.mb-20{ margin-bottom: 20px!important; }
.mb-30{ margin-bottom: 30px!important; }
.mb-30{ margin-bottom: 30px!important; }
.mb-40{ margin-bottom: 40px!important; }
.mb-50{ margin-bottom: 50px!important; }
.mt-10{ margin-top: 10px!important; }
.mt-20{ margin-top: 20px!important; }
.mt-30{ margin-top: 30px!important; }
.mt-50{ margin-top: 50px!important; }
.mt-100{ margin-top: 100px!important; }

.ml-20{ margin-left: 20px; }

.relative{
	position: relative;
}

.top{
	background: #001680;
	height: 30px;
	width: 100%;
	color: #fff;
	display: grid;
}

.top a{
	color: #fff;
	font-size: 12px;
}

.top a.a-left{
	float: left;
}

.top a.a-right{
	float: right;
	margin-right: 20px;
}

.top a.a-right:nth-child(2){
	margin-right: 0px;
}

.container{
	width: 95%;
	max-width: 1240px;
	margin: auto;
}

header{
	width: 100%;
	background: #fff;
	/*overflow: hidden;*/
	padding: 10px 0;
	position: relative;
	border-bottom: 1px solid #f0f0f0;
}

.principal-search{
	display: grid;
	grid-template-columns: auto 52px;
}

.principal-search button{
	background: #0336ff;
	width: 52px;
	height: 52px;
	border-radius: 0 5px 5px 0;
	border: 0;
}

.principal-search input[type="text"]{
	height: 52px;
	background: #eff2f7;
	border: 0;
	font-size: 14px;
	color: #999999;
    margin-right: -4px;
    border-radius: 5px 0 0 5px;
    padding: 20px;
}

header .gr-header{
	display: grid;
	grid-template-columns: 180px calc(49.2% - 10px) 15.5% calc(17% - 3px);
	grid-column-gap: 20px;
	align-items: center;
}

.hazte_distribuidor{
	color: #0336ff;
	font-size: 14px;
	text-transform: uppercase;
	border: 1px solid #0336ff;
	border-radius: 3px;
	width: 100%;
	max-width: 190px;
	height: 46px;
	display: block;
	line-height: 46px;
	text-align: center;
}

.box_action{
	text-align: center;
	float: left;
	margin-right: 10px;
	display: block;
	position: relative;
}

.box_action small.qty_cot{
	width: 19px;
    height: 19px;
    color: #fff;
    background: #448aff;
    display: block;
    border-radius: 100%;
    line-height: 16px;
    font-size: 12px;
    text-align: center;
    position: absolute;
    right: 6px;
    top: 3px;
    border: 2px solid #fff;
}

.box_action small.qty_cart{
	width: 19px;
    height: 19px;
    color: #fff;
    background: #448aff;
    display: block;
    border-radius: 100%;
    line-height: 16px;
    font-size: 12px;
    text-align: center;
    position: absolute;
    right: -6px;
    top: 3px;
    border: 2px solid #fff;
}

.box_action:last-child{
	margin-right: 0;
}

.box_action img{
	width: 24px;
}

.box_action span{
	display: block;
	margin-top: 3px;
	color: #000;
}

.gr-buttonHeader{
	display: grid;
	grid-template-columns: repeat(3, auto);
	justify-content: space-between;
}

.categories{
	cursor: pointer;
}

.categories img{
	width: 18px;
	margin-right: 8px;
}

.categories span{
	color: #fff;
	font-size: 16px;
	font-weight: bold;
}

.categories .menu_categorias{
	width: 295px;
    max-height: 450px;
    background: #f5f5f5;
    position: absolute;
    z-index: 10002;
    padding: 10px 0;
    display: none;
    overflow: auto;
}

.categories .menu_categorias::-webkit-scrollbar{
    width: 4px;     /* Tamaño del scroll en vertical */
    height: 4px;    /* Tamaño del scroll en horizontal */
}

.categories .menu_categorias::-webkit-scrollbar-thumb{
    background: #ccc;
    border-radius: 4px;
}

.categories .menu_categorias a{
	display: block;
	font-size: 14px;
	font-weight: 500;
	color: #0336ff;
	padding: 2px 20px;
	text-align: left;
	transition: 200ms;
}

.categories .menu_categorias a:hover{
	background: #ebebeb;
}

nav{
	width: 100%;
	max-width: 1280px;
	margin: auto;
	display: grid;
	grid-template-columns: 200px calc(100% - 200px);
	height: 48px;
	border-top: 1px solid #f0f0f0;
	border-bottom: 1px solid #f0f0f0;
}

nav > .categories{
	background: #ef9500;
	line-height: 45px;
	text-align: center;
}

#mainMenu {
	width: 98%;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(7,auto);
    justify-content: space-around;
    height: 100%;
    margin: 0;
}

#mainMenu > li{
	list-style: none;
	line-height: 45px;
}

.content_submenu{
	position: absolute;
    left: 0;
    width: 100%;
    background: #fff;
    top: 156px;
    max-height: 545px;
    z-index: 10001;
    padding-bottom: 30px;
    box-shadow: 0px 22px 16px rgba(0,0,0, .3);
    display: none;
}

#mainMenu > li > a i{
	margin-left: 5px;
    font-size: 11px;
    transition: 250ms;
}

.subopen_arrow{
	color: #0336ff!important;
}

.subopen_arrow i{
	transform: rotate(180deg);
	color: #0336ff;
}

#mainMenu > li .submenu{
    display: grid;
    grid-template-columns: repeat(5, calc(20% - 16px));
    grid-column-gap: 20px;
    padding: 0;
    list-style: none;
}

.bg-submenu{
	position: absolute;
	top: 156px;
	height: 100%;
	width: 100%;
	background: rgba(0,0,0, .4);
	z-index: 10000;
	bottom: 0;
	display: none;
}

.tituloCatMenu{
	color: #001680;
	font-size: 16px;
	font-weight: 500;
	margin: 25px 0 20px 0;
	line-height: initial;
	display: block;
}

.subsubmenu{
	list-style: none;
	padding: 0;
}

.subsubmenu > li{
	line-height: initial;
	margin-bottom: 7px;
}

.subsubmenu > li a{
	color: #666666;
	font-size: 14px;
}

#mainMenu > li > a{
	display: block;
	text-align: center;
	font-size: 14px;
	color: #333;
}

#mainMenu > li > a span{
	float: left;
}

#mainMenu > li > a img{
	width: 8px;
	float: left;
	margin-top: 20px;
    margin-left: 5px;
}

#slider{width: 100%; max-width: 1280px; position: relative; overflow: hidden; margin: auto;}
#slider .item-slider img{width: 100%; display: block;}
#slider .item-slider{width: 100%;}
#slider .nav{
	position: absolute;
	z-index: 9999;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%, 0);
}
#slider .nav .col-nav{
	float: left;
    cursor: pointer;
}

#slider .next,
#slider .prev{
	position: absolute;
	top: 50%;
	transform: translate(0%, -50%);
	z-index: 999;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	border: 2px solid #5f6368;
	display: grid;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 200ms;
}

#slider .next img,
#slider .prev img{
	width: 24px;
}

#slider .next {
	right: 2%;
}

#slider .prev {
	left: 2%;
}

#slider .prev img{
	transform: rotate(180deg);
}

#slider .next:hover,
#slider .prev:hover{
	opacity: .7;
}

#slider .nav .cycle-pager span{
    color: #fff;
    font-size: 40px;
    margin-right: 10px;
}

#slider .nav .cycle-pager .cycle-pager-active{
	color: #0336ff;
}

#slider .nav .cycle-pager span:last-child{
	margin-right: 0;
}

#slider .cycle-overlay{
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(-0%, -50%);
    z-index: 999;
    color: #fff;
    font-size: 36px;
}

.gr-catDestacadas{
	display: grid;
	grid-template-columns: repeat(4, calc(25% - 15px));
	grid-row-gap: 20px;
	grid-column-gap: 20px;
}

.gr-catDestacadas .col{
	border: 1px solid #f0f0f0;
	border-radius: 15px;
	overflow: hidden;
	box-shadow: 8px 0px 15px rgba(153, 153, 153, .35);
	display: grid;
	grid-template-columns: 30% 70%;
    align-items: center;
}

.gr-catDestacadas .col .imgCat img{
	display: block;
	width: 100%;
}

.gr-catDestacadas .col span,
.gr-catDestacadas .col a{
	display: block;
	margin-left: 5%;
}

.gr-catDestacadas .col span{
	margin-bottom: 20px;
	font-size: 16px;
}

.gr-catDestacadas .col a{
	color: #0336ff;
	font-size: 14px;
	font-weight: bold;
}

.homeTitle{
	font-size: 20px;
	font-weight: 500;
}

.catSection{
	margin: 30px auto;
}

.gr-firstBanners{
	display: grid;
	grid-template-columns: repeat(2, calc(50% - 10px));
	grid-template-areas: "one two" "one three";
	grid-column-gap: 20px;
	grid-row-gap: 19px;
}

.gr-firstBanners img{
	width: 100%;
	display: block;
}

.gr-firstBanners .col:nth-child(1){ grid-area: one; }
.gr-firstBanners .col:nth-child(2){ grid-area: two; }
.gr-firstBanners .col:nth-child(3){ grid-area: three; }

.gr-firstBanners .col{
	transition: 300ms;
}
.gr-firstBanners .col:hover{
	box-shadow: 0px 0px 15px rgba(153, 153, 153, .35);
}

.grSliderProduct{
	display: grid;
    grid-template-columns: 77% 23%;
}

.grSliderProduct .principalCol .bannerSlider img{
	display: block;
	width: 100%;
}

.SliderProduct .item,
.SliderProduct-2 .item{
	border: 1px solid #f0f0f0;
	border-radius: 2px;
	margin-right: 20px;
}

.SliderProduct .item .headerProduct,
.SliderProduct-2 .item .headerProduct{
	border-bottom: 1px solid #f0f0f0;
	display: block;
	background: #fff;
	position: relative;
}

.sliderProduct-xs{
	display: none;
}

.SliderProduct .item .headerProduct .imgProduct,
.SliderProduct-2 .item .headerProduct .imgProduct{
	margin: auto;
	padding: 10px 0;
	width: 100%;
}

.SliderProduct .item .bodyProduct,
.SliderProduct-2 .item .bodyProduct{
	background: #fafafa;
	padding: 20px;
}

.SliderProduct .item .bodyProduct .name,
.SliderProduct-2 .item .bodyProduct .name{
	font-size: 16px;
	color: #333;
	display: block;
	height: 50px;
}

.SliderProduct .item .bodyProduct .btnDetails,
.SliderProduct-2 .item .bodyProduct .btnDetails{
	height: 48px;
	width: 100%;
	display: block;
	line-height: 48px;
	background: #0336ff;
	text-align: center;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	border-radius: 3px;
	margin-top: 15px;
}

.SliderProduct .item .bodyProduct .prices,
.SliderProduct .item .bodyProduct .description,
.SliderProduct-2 .item .bodyProduct .prices,
.SliderProduct-2 .item .bodyProduct .description{
	height: 40px;
}

.SliderProduct .item .bodyProduct .description,
.SliderProduct-2 .item .bodyProduct .description{
	font-size: 12px;
	color: #666;
}

.SliderProduct .item .bodyProduct .prices .discountPrice,
.SliderProduct-2 .item .bodyProduct .prices .discountPrice{
	display: block;
	font-size: 12px;
	color: #999;
}

.SliderProduct .item .bodyProduct .prices .finalPrice,
.SliderProduct-2 .item .bodyProduct .prices .finalPrice{
	color: #ef9500;
	font-size: 24px;
	font-weight: bold;
}

.arrowsAction{
	float: right;
	margin-top: 20px;
}

.arrowsAction .prevMove,
.arrowsAction .nextMove,
.arrowsAction .prevMove2,
.arrowsAction .nextMove2{
	float: left;
}

.arrowsAction .prevMove,
.arrowsAction .prevMove2{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 2px solid #5f6368;
    display: grid;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 200ms;
    margin-right: 28px;
}

.arrowsAction .nextMove,
.arrowsAction .nextMove2{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 2px solid #5f6368;
    display: grid;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 200ms;
}

.arrowsAction .prevMove img,
.arrowsAction .prevMove2 img{
	width: 24px;
	transform: rotate(180deg);
}

.arrowsAction .nextMove img,
.arrowsAction .nextMove2 img{
	width: 24px;
}

.gr-secBanners{
	display: grid;
	grid-template-columns: repeat(2, calc(50% - 10px));
	grid-template-areas: "one two" "three three";
	grid-column-gap: 20px;
	grid-row-gap: 20px;
	margin-top: 30px;
}

.gr-secBanners .col:nth-child(1){ grid-area: one; }
.gr-secBanners .col:nth-child(2){ grid-area: two; }
.gr-secBanners .col:nth-child(3){ grid-area: three; }

.gr-secBanners .col img{
	width: 100%;
}

.gr-secBanners .col:hover{
	box-shadow: 0px 0px 15px rgba(153, 153, 153, .35);
}

.clearfix{
	clear: both;
}

.banner40{
	margin-top: 30px;
	position: relative;
}

.banner40 img{
	width: 100%;
	max-width: 1240px;
}

.banner40 .contentInfo{
	max-width: 466px;
	position: absolute;
	left: 50%;
	transform: translate(-43%, 0);
	bottom: 0;
	z-index: 9;
}

.banner40 .contentInfo .title{
	color: #0336ff;
	font-size: 24px;
	font-weight: 500;
	margin-bottom: 25px;
}

.banner40 .contentInfo .texto{
	color: #999;
	font-size: 18px;
}

.banner40 .contentInfo .btn40{
	background: #0336ff;
	display: block;
	width: 255px;
	text-align: center;
	font-size: 14px;
	color: #fff;
	text-transform: uppercase;
	height: 48px;
	line-height: 48px;
	border-radius: 4px;
	margin-top: 20px;
}

.bodyGray{
	background: #f8f8f8;
	margin-top: 30px;
	padding: 50px 0;
}

.gr-icons{
	display: grid;
	grid-template-columns: repeat(4, auto);
    justify-items: center;
}

.gr-icons .col{
	text-align: center;
}

.gr-icons .col .icon{
	width: 80px;
	height: 80px;
	background: #ef9500;
	border-radius: 100%;
	text-align: center;
	line-height: 105px;
	margin: auto;
}

.gr-icons .col .icon img{
	width: 37px;
}

.gr-icons .col .name{
	color: #333333;
	font-size: 16px;
	font-weight: bold;
	margin-top: 10px;
}

footer{
	background: #020e49;
	width: 100%;
	padding: 55px 0 0 0;
	border-bottom: 2px solid #000;
}

.rowImg{
	margin-bottom: 20px;
}

.gr-footer{
	display: grid;
	grid-template-columns: 16% 17% 16% 16% auto;
	grid-template-areas: "logo contacto horarios categorias suscribete";
    grid-column-gap: 10px;
}

.gr-footer .col:nth-child(1){
	grid-area: logo;
}

.gr-footer .col:nth-child(2){
	grid-area: contacto;
}

.gr-footer .col:nth-child(3){
	grid-area: horarios;
}

.gr-footer .col:nth-child(4){
	grid-area: categorias;
}

.gr-footer .col:nth-child(5){
	grid-area: suscribete;
}

.gr-footer .col .titleSec{
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
}

.gr-footer .col .listFooter{
	margin-top: 30px;
	padding: 0;
}

.gr-footer .col .listFooter li{
	list-style: none;
	color: #fff;
	margin-bottom: 15px;
}

.img-resp_footer{
	display: none;
}

.gr-footer .col .listFooter li a{
	color: #fff;
}

.gr-footer .col .listFooter li a span{
	font-size: 14px;
}

.linksFooter-xs{
	display: none;
}

.open-footer .material-icons{
	display: none;
}

.content_news{
	width: 100%;
	display: grid;
	grid-template-columns: 55% 45%;
	margin-top: 30px;
}

.titulo-cel{
	display: none;
}

.content-order-xs{
	display: none;
}

.content_news .emailNewsletter,
.content_news .btnNewsletter{
	height: 50px;
	line-height: 50px;
}

.content_news .emailNewsletter{
	border: 1px solid #cccccc;
	border-right: 0px;
	border-radius: 3px 0 0 3px;
	padding: 10px;
}

.content_news .emailNewsletter:placeholder{
	color: #999999;
}

.content_news .btnNewsletter{
	background: #2666e0;
	display: block;
	color: #fff;
	text-align: center;
	border: 1px solid #cccccc;
	border-left: 0px;
	border-radius: 0 3px 3px 0;
	font-size: 14px;
}

.content_metodosFooter{
	display: grid;
    grid-template-columns: repeat(3, auto);
    align-items: center;
    justify-content: space-between;
    grid-column-gap: 10px;
    margin-top: 20px;
}

.btFooter{
	padding: 20px 0;
	background: #030c36;
}

.btFooter .copy{
	color: #fff;
	text-transform: uppercase;
	float: left;
}

.btFooter .linksFooter{
	float: right;
}

.btFooter .linksFooter a{
	color: #fff;
	margin-right: 30px;
}

.btFooter .linksFooter a:last-child{
	margin-right: 0;
}

.custom-select{
  	position: relative;
}
.custom-select select {
  	display: none;
}

.select-selected .animationSelect{
	position: absolute;
	top: calc(50% - 28px);
	left: 16px;
	transition: 0.3s all ease;
	font-size: 16px;
	color: #000;
}

.select-selected .animationSelect.selected{
	top: -12px;
	left: 16px;
	font-size: 10px;
	color: #0236fc!important;
}

.select-selected {
  	background-color: #f5f5f5;
  	padding: 5px 16px;
  	cursor: pointer;
  	border: 0;
  	border-bottom: 1px solid #555555;
  	color: #4e4e4e;
  	height: 56px;
  	line-height: 56px;
  	width: 100%;
  	box-sizing: border-box;
  	border-radius: 3px 3px 0 0;
  	overflow: hidden;
}
.select-selected:after {
  	position: absolute;
  	content: "";
	top: calc(50% - 4px);
	right: 10px;
	width: 12px;
	height: 12px;
	background: url('img/icons/arrownav.svg') transparent no-repeat;
	transform: rotate(0deg);
	transition: 300ms;
}
.select-selected:hover{
	background: #ececec;
}
.select-selected.select-arrow-active{
	border-bottom: 1px solid #0236fc!important;
}
.select-selected.select-arrow-active:after {
	width: 12px;
	height: 12px;
	background: url('img/icons/arrownav.svg') transparent no-repeat;
	transform: rotate(180deg);
	top: calc(50% - 10px);
	transition: 300ms;
}
.select-items div{
	color: #1c1c1c;
	height: 48px;
	line-height: 48px;
	padding: 0 16px;
	cursor: pointer;
}
.select-items div:hover{
	background: #f5f5f5;
}
.select-items {
	position: absolute;
	background-color: #ffffff;
	box-shadow: 0px 1px 5px 0px #c8c8c8;
	top: 100%;
	left: 0;
	right: 0;
	z-index: 99;
	padding: 5px 0;
	max-height: 200px;
	overflow: auto;
}

.select-items::-webkit-scrollbar{
    width: 4px;     /* Tamaño del scroll en vertical */
    height: 4px;    /* Tamaño del scroll en horizontal */
}

.select-items::-webkit-scrollbar-thumb{
    background: #ccc;
    border-radius: 4px;
}

.select-hide {
  	display: none;
}
.same-as-selected {
  	background-color: rgba(2, 54, 252, .3);
}

.optionSelected{
	border-bottom: 1px solid #0236fc!important;
}

.gr-buscadorHome{
	display: grid;
	grid-template-columns: repeat(4, calc(25% - 15px));
	grid-column-gap: 20px;
}

.btnBuscarCadenas{
	background: #0336ff;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	display: block;
	height: 56px;
	border-radius: 3px;
	text-align: center;
	line-height: 56px;
	text-transform: uppercase;
}

.breadcrumbs{
	width: 100%;
	max-width: 1280px;
	margin: auto;
	border-bottom: 1px solid #f0f0f0;
	overflow: hidden;
	padding: 14px 0;
}

.breadcrumbs ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

.breadcrumbs ul > li {
	float: left;
}

.breadcrumbs ul > li a{
	color: #999;
}

.breadcrumbs ul > li a.active{
	color: #666666;
}

.breadcrumbs ul > li img{
	width: 9px;
	float: right;
	margin: 3px 6px 0px 6px;
}

.gr-grilla{
	display: grid;
	grid-template-columns: 24% auto;
	grid-column-gap: 20px;
}

.box_filtro{
	border-top: 1px solid #f0f0f0;
	border-bottom: 1px solid #f0f0f0;
	margin-top: -1px;
}

.box_filtro .lista-filtro{
	padding: 0;
	list-style: none;
	display: none;
}

.box_filtro.box-activo .lista-filtro{
	display: block!important;
}

.tituloFiltros{
	font-size: 14px;
	font-weight: bold;
	color: #001680;
	margin-bottom: 20px;
}

.box_filtro .head-filtro{
	padding: 15px 0;
	margin: 0;
	font-weight: 300;
	font-size: 14px;
	text-transform: uppercase;
	color: #666;
	cursor: pointer;
	position: relative;
}

.box_filtro .head-filtro:after{
	content: "";
	background: url('img/icons/arrownav.svg') transparent no-repeat;
	background-size: 12px;
	width: 12px;
	height: 12px;
	position: absolute;
	right: 5%;
	transition: 300ms;
}

.box_filtro .head-filtro.head-active:after{
	content: "";
	background: url('img/icons/arrownav.svg') transparent no-repeat;
	background-size: 12px;
	width: 12px;
	height: 12px;
	position: absolute;
	right: 5%;
	transform: rotate(180deg);
	transition: 300ms;
}

.box_filtro .lista-filtro li{
	min-height: 15px;
	margin-bottom: 20px;
	cursor: pointer;
}

.box_filtro .lista-filtro li:hover .chkbox .chkhover{
	opacity: 1;
	transition: 600ms;
}

.box_filtro .lista-filtro li label{
    color: #666666;
    font-size: 12px;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: pre;
    display: block;
    float: left;
    width: calc(100% - 40px);
    margin-top: 4px;
    margin-left: 15px;
    text-transform: capitalize;
}

.chkbox{
	position: relative;
}

.chkbox .chk{
	z-index: 2;
	position: relative;
}

.chkbox .chkhover{
	position: absolute;
    top: -5px;
    left: -6px;
    width: 30px;
    height: 30px;
    background: #f5f5f5;
    border-radius: 100%;
    z-index: 1;
    opacity: 0;
    transition: 600ms;
}

.chk{
    background: transparent;
    border: 2px solid #cccccc;
    height: 15px;
    width: 15px;
    border-radius: 4px;
    float: left;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.chk:checked{
    background: #ef9500 url(img/icons/chkchecked.svg) no-repeat;
    border-radius: 4px;
    border: 2px solid #ef9500;
    background-position: center;
    background-size: 14px;
}

.productos-grilla{
	display: grid;
	grid-template-columns: repeat(3, calc(33.333333% - 13px));
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.grilla-4{
	grid-template-columns: repeat(4, calc(25% - 15px))!important;
}

.productos-grilla .item{
	border: 1px solid #f0f0f0;
	border-radius: 2px;
	overflow: hidden;
}

.productos-grilla .item .headerProduct{
	border-bottom: 1px solid #f0f0f0;
	display: block;
	text-align: center;
	background: #fff;
	position: relative;
}

.productos-grilla .item .headerProduct .imgProduct{
	margin: auto;
	padding: 10px 0;
	width: 100%;
	max-width: 216px;
}

.productos-grilla .item .bodyProduct{
	background: #fafafa;
	padding: 20px;
	height: 100%;
}

.productos-grilla .item .bodyProduct .name{
	font-size: 16px;
	color: #333;
	display: block;
	height: 50px;
}

.productos-grilla .item .bodyProduct .btnDetails{
	height: 48px;
	width: 100%;
	display: block;
	line-height: 48px;
	background: #0336ff;
	text-align: center;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	border-radius: 3px;
	margin-top: 15px;
}

.productos-grilla .item .bodyProduct .prices,
.productos-grilla .item .bodyProduct .description{
	height: 40px;
}

.productos-grilla .item .bodyProduct .description{
	font-size: 12px;
	color: #666;
}

.productos-grilla .item .bodyProduct .prices .discountPrice{
	display: block;
	font-size: 12px;
	color: #999;
	height: 14px;
}

.productos-grilla .item .bodyProduct .prices .finalPrice{
	color: #ef9500;
	font-size: 24px;
	font-weight: bold;
}

.header-grilla h2{
	float: left;
	margin-top: 0;
}

.content-order{
	float: right;
	margin-top: 4px;
	position: relative;
}

.content-order .selected-order,
.content-order-xs .selected-order{
	font-weight: bold;
	color: #666666;
	cursor: pointer;
}

.content-order .box_hidden_order,
.content-order-xs .box_hidden_order{
	position: absolute;
	background: #fff;
	padding: 6px 0;
	right: 0;
	width: 160px;
	border: 1px solid #f0f0f0;
	border-radius: 4px;
	top: 150%;
	display: none;
	z-index: 100001;
}

.content-order .box_hidden_order a,
.content-order-xs .box_hidden_order a{
	display: block;
	padding: 15px 20px;
	color: #999999;
	font-size: 14px;
}

.content-order .box_hidden_order a:hover,
.content-order-xs .box_hidden_order a:hover{
	background: #f4f1fa;
}

.titulo-pag{
	color: #050505;
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 20px;
}

.cont-indice{
	padding: 20px 0;
	border-bottom: 1px dashed #132c70;
	width: 100%;
	max-width: 700px;
}

.cont-indice .subtitle{
	color: #044fe6;
	font-size: 18px;
	margin-bottom: 15px;
}

.linkTerminos{
	font-size: 16px;
	color: #003399;
	display: block;
	margin-bottom: 5px;
}

.box-scroll{
	padding: 20px 0;
	border-bottom: 1px dashed #132c70;
	width: 100%;
	max-width: 700px;
}

.box-scroll .tituloBox{
	font-size: 14px;
	color: #132c70;
}

.box-scroll .description{
	font-size: 16px;
	color: #999999;
}

.box-scroll .btnSubir{
	color: #3366ff;
	text-decoration: underline;
	font-size: 14px;
}

.subtitle-pag{
	color: #050505;
	font-size: 20px;
	font-weight: bold;
}

.body-pag{
	color: #999999;
	font-size: 14px;
	width: 100%;
	max-width: 650px;
}

.body-pag2{
	color: #999999;
	font-size: 18px;
	width: 100%;
	max-width: 650px;
}

.gr-somos{
	display: grid;
	grid-template-columns: repeat(2, calc(50% - 10px));
	grid-column-gap: 10px;
}

.gr-somos .col:last-child{
	text-align: right;
	padding-top: 50px;
}

.gr-somos img{
	width: 100%;
	max-width: 475px;
}

.descripcion-pag{
	color: #999999;
	font-size: 14px;
	width: 100%;
	max-width: 620px;
}

.gr-catalogos{
	display: grid;
	grid-template-columns: repeat(4, calc(25% - 15px));
	grid-column-gap: 20px;
}

.gr-catalogos .col{
	display: grid;
	grid-template-columns: 28% 72%;
	max-width: 295px;
	border: 1px solid #f0f0f0;
	border-radius: 15px;
	box-shadow: 8px 0 15px rgba(153, 153, 153, .35);
	min-height: 90px;
	overflow: hidden;
	align-items: center;
}

.gr-catalogos .col .colPdf{
	background: #d1d1d1;
	border-right: 1px solid #f0f0f0;
	height: 100%;
    text-align: center;
    padding-top: 13px;
}

.gr-catalogos .col .info{
	padding: 0 15px;
}

.gr-catalogos .col .colPdf img{
	width: 40px;
}

.gr-catalogos .col .info .name{
	color: #000;
	font-size: 16px;
	display: block;
}

.gr-catalogos .col .info .link{
	color: #0336ff;
	font-size: 14px;
	font-weight: bold;
	display: block;
	margin-top: 5px;
}

.gr-como-comprar{
	display: grid;
	grid-template-columns: repeat(3, calc(33.333333% - 15px));
	grid-column-gap: 20px;
}

.gr-como-comprar .col img{
	margin: auto;
	box-shadow: 8px 0 20px rgba(204, 204, 204, .35);
	width: 100%;
	max-width: 380px;
}

.gr-como-comprar .col .texto{
	color: #999999;
	font-size: 14px;
}

.bg-distribuidor{
	width: 100%;
	max-width: 1280px;
	margin: auto;
	margin-top: 40px;
}

.bg-distribuidor img{
	width: 100%;
}

.hd_content-form{
	position: absolute;
	right: 0;
	width: 400px;
	background: #fff;
	box-shadow: 8px 0 15px rgba(153, 153, 153, .35);
	padding: 20px;
	z-index: 10;
	border-radius: 4px;
	border: 1px solid #f0f0f0;
	top: 15px;
}

.contact_content-form{
	width: 400px;
	background: #fff;
	box-shadow: 8px 0 15px rgba(153, 153, 153, .35);
	padding: 20px;
	border-radius: 4px;
	border: 1px solid #f0f0f0;
	float: right;
	position: relative;
}

.hd_content-form .titulo,
.contact_content-form .titulo{
	color: #000000;
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 20px;
}

.main-input{
	margin-bottom: 20px;
}

.main-input .error-description,
.main-select .error-description{
	color: #b00020;
	font-size: 12px;
	display: block;
	padding: 4px 18px;
}

.error-select{
	border-bottom: 1px solid #b00020!important;
}

.span-select-error{
	color: #b00020!important;
}

.input-form{
	border: 1px solid #f0f0f0;
	border-radius: 3px 3px 0 0;
	position: relative;
}

.input-form label{
	position: absolute;
	font-size: 16px;
	color: #666666;
	left: 15px;
	top: 18px;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

.input-form label.active{
	top: 6px;
	font-size: 12px;
	color: #0336ff;
}

.input-form label.error{
	color: #b00020!important;
}

.input-form .error-input{
	border-bottom: 2px solid #b00020!important;
}

.input-form input[type="text"],
.input-form input[type="numeric"],
.input-form input[type="password"],
.input-form input[type="email"]{
	border: 0;
	border-bottom: 1px solid #cccccc;
	width: 100%;
	height: 55px;
	padding: 0 15px;
	font-size: 16px;
	color: #666666;
	outline: none;
	transition: 400ms;
}

.input-form input[type="text"]:focus,
.input-form input[type="numeric"]:focus,
.input-form input[type="password"]:focus,
.input-form input[type="email"]:focus,
.input-form input[type="text"]:active,
.input-form input[type="numeric"]:active,
.input-form input[type="password"]:active,
.input-form input[type="email"]:active,
.input-form textarea:focus,
.input-form textarea:active{
	border-bottom: 2px solid #0336ff;
}

.input-form textarea{
	resize: none;
	width: 100%;
	border: 0;
	border-bottom: 1px solid #cccccc;
	padding: 24px 15px;
	display: block;
	font-size: 14px;
	color: #666;
	height: 120px;
}

.input-active{
	border-bottom: 2px solid #0336ff!important;
}

.btnDistribuidor{
	background: #0336ff;
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
	text-align: center;
	width: 100%;
	border-radius: 4px;
	border: 1px solid #0336ff;
	height: 56px;
	font-weight: bold;
	transition: 200ms;
	cursor: pointer;
}

.btnDistribuidor:hover{
	background: #0432e4;
}

.left-contact{
	float: left;
	width: 58%;
}

.menu-dashboard{
	width: 100%;
	max-width: 190px;
	border: 1px solid #f0f0f0;
	border-radius: 4px;
	float: left;
}

.menu-dashboard .head{
	padding: 23px 20px 20px 20px;
}

.menu-dashboard .head span{
	display: block;
}

.menu-dashboard .head .titulo{
	color: #001680;
	font-size: 18px;
}

.menu-dashboard .head .nombre{
	color: #666666;
	font-size: 14px;
}

.menu-dashboard a{
	color: #333333;
	display: block;
	padding: 20px;
	font-size: 14px;
	transition: 300ms;
}

.menu-dashboard a:hover,
.btnLogout:hover{
	background: #f4f1fa;
}

.menu-dashboard a.active{
	background: #f4f1fa;
}

.btnLogout{
	width: 100%;
	padding: 20px;
	background: #fff;
	border: 0;
	text-align: left;
	font-size: 14px;
	color: #333;
	transition: 300ms;
	cursor: pointer;
}

.content-dashboard{
	float: left;
	width: calc(100% - 190px);
}

.content-dashboard .center{
	width: 100%;
	max-width: 610px;
	margin: auto;
}

.content-dashboard .center-large{
	width: 100%;
	max-width: 830px;
	margin: 20px 0 0 auto;
}

.content-dashboard .titulo{
	font-size: 20px;
	font-weight: 500;
	color: #000;
}

.content-dashboard p.row-text{
	color: #2c2c2b;
	font-size: 14px;
}

.content-dashboard .subtitulo{
	color: #2c2c2b;
	font-size: 14px;
	margin-top: 5px;
	margin-bottom: 20px;
}

.gr-form-3{
	display: grid;
	grid-template-columns: repeat(3, calc(33.333333% - 13px));
	grid-column-gap: 20px;
}

.btnFormDatos,
.btnAgregarDireccion{
	color: #fff;
	text-transform: uppercase;
	height: 56px;
	background: #0336ff;
	border-radius: 3px;
	font-size: 14px;
	font-weight: bold;
	border: 0;
	width: 100%;
	max-width: 190px;
	float: right;
	cursor: pointer;
}

.cancelarEdit{
	color: #fff;
	text-transform: uppercase;
	height: 56px;
	background: #ccc;
	line-height: 56px;
	border-radius: 3px;
	font-size: 14px;
	font-weight: bold;
	border: 0;
	width: 100%;
	max-width: 190px;
	float: right;
	cursor: pointer;
	text-align: center;
	margin-right: 20px;
}

.gr-direcciones{
	display: grid;
	grid-template-columns: repeat(2, calc(50% - 10px));
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gr-direcciones .col{
	border: 1px solid #f0f0f0;
	border-radius: 5px;
	padding: 20px;
	font-size: 14px;
}

.gr-direcciones .col .direccion{
	color: #999999;
	font-size: 14px;
}

.gr-direcciones .col .btn-actionsDir{
	margin-top: 25px;
}

.gr-direcciones .col .eliminarDireccion{
	color: #cccccc;
	margin-right: 20px;
}

.gr-direcciones .col .editarDireccion{
	color: #0336ff;
}

.gr-agregar-direccion,
.gr-direccion-carro{
	display: grid;
	grid-template-areas: "one two two" "three four five";
	grid-template-columns: calc(50% - 20px) 10% calc(40% - 20px);
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gr-direccion-carro{
	grid-template-columns: calc(50% - 10px) 10% calc(40% - 30px);
}

.gr-agregar-direccion .col:nth-child(1),
.gr-direccion-carro .col:nth-child(1){ grid-area: one; }

.gr-agregar-direccion .col:nth-child(2),
.gr-direccion-carro .col:nth-child(2){ grid-area: two; }

.gr-agregar-direccion .col:nth-child(3),
.gr-direccion-carro .col:nth-child(3){ grid-area: three; }

.gr-agregar-direccion .col:nth-child(4),
.gr-direccion-carro .col:nth-child(4){ grid-area: four; }

.gr-agregar-direccion .col:nth-child(5),
.gr-direccion-carro .col:nth-child(5){ grid-area: five; }

.gr-agregar-direccion .custom-select,
.gr-direccion-carro .custom-select,
.select-direcciones{
	border: 1px solid #f0f0f0;
	border-radius: 3px 3px 0 0;
}

.gr-agregar-direccion .select-selected,
.gr-direccion-carro .select-selected,
.select-direcciones .select-selected{
	background: #fff;
	border-bottom: 1px solid #cccccc;
}

.gr-agregar-direccion .select-selected .animationSelect,
.gr-direccion-carro .select-selected .animationSelect,
.select-direcciones .select-selected .animationSelect{
	color: #666;
}

.gr-ficha{
	display: grid;
	grid-template-columns: 40% 60%;
	margin-bottom: 30px;
}

.gr-ficha .principal{
	float: left;
	width: calc(80% - 20px);
	position: relative;
}

.gr-ficha .principal .item img{
	width: 100%;
	max-width: 400px;
	display: block;
	margin: auto;
}

.slider-ficha-nav{
	width: 20%;
	float: left;
	margin-right: 20px;
}

.slider-ficha-nav .item{
	width: 85px!important;
	height: 85px!important;
	border-radius: 100%;
	border: 1px solid #f0f0f0;
	overflow: hidden;
	background-position: center!important;
	background-size: 200%!important;
	margin-bottom: 20px;
}

.prevFicha,
.nextFicha{
	width: 10px;
	display: block!important;
}

.prevFicha{
	transform: rotate(180deg) translate(-0,-50%);
    top: 44.4%;
    left: 0;
    position: absolute;
}

.nextFicha{
	transform: translate(-0%, -50%);
	top: 50%;
	right: 0;
	position: absolute;
}

.box-info{
	width: 100%;
	max-width: 620px;
	margin: 0 0 0 auto;
}

.box-info .nombre{
	color: #000000;
	font-size: 24px;
	font-weight: 500;
}

.box-info .stock{
	color: #666666;
	font-size: 14px;
}

.box-info .descripcion_corta{
	color: #666666;
	font-size: 16px;
	margin: 15px 0 0px 0;
	width: 100%;
	max-width: 355px;
}

.box-info .descripcion_corta > ul {
	list-style: none;
	padding: 0;
	margin:0;
}

.box-info .descripcion_corta > ul li{
	padding-left: 1em; 
    text-indent: -.7em;
    font-size: 16px;
    color: #666666;
    margin-bottom: 10px;
}

.box-info .descripcion_corta > ul li::before {
	content: "• ";
	padding-right: 2px;
	color: #f09401;
}

.box-info .descargar_ficha{
	float: right;
}

.box-info .descargar_ficha a{
	color: #0236fc;
	text-decoration: underline;
	text-decoration-color: #a3adfd;
	font-size: 14px;
}

.box-info .descargar_ficha{
	margin-top: -20px;
	float: right;
}

.box-info .descargar_ficha a span{
	font-size: 12px;
}

.box-info .box-dimensiones{
	margin-top: 20px;
}

.box-info .box-dimensiones .titulo{
	color: #000000;
	font-size: 18px;
	font-weight: 500;
	position: relative;
}

.box-info .gr-dimensiones{
	display: grid;
	grid-template-columns: repeat(3, calc(33.333333% - 13px));
	grid-column-gap: 20px;
	grid-row-gap: 20px;
	margin-top: 10px;
}

.box-info .gr-accionesCarro{
	display: grid;
	grid-template-columns: repeat(3, calc(33.333333% - 13px));
	grid-column-gap: 20px;
	grid-row-gap: 20px;
	margin-top: 20px;
}

.box-info .gr-accionesCarro-dim{
	grid-template-columns: 31% calc(69% - 20px)!important;
}

.box_qty{
	overflow: hidden;
}

.box_main_qty{
    position: relative;
    background: url('img/icons/arrownav.svg') transparent no-repeat;
    background-size: 10px;
    background-position: 93%; 
    cursor: pointer;
}

.box_main_qty_carro{
	position: relative;
    background: url('img/icons/arrownav.svg') transparent no-repeat;
    background-size: 10px;
    background-position: 93%; 
    cursor: pointer;
    padding-right: 14px;
}

.cont_stock_carro{
	position: absolute;
	bottom: 25px;
	right: 0;
}

.contenedor-cart{
	max-width: 1030px;
    margin: auto;
}

.box_main_qty .text_unidad{
	float: left;
	height: 53px;
	line-height: 53px;
	color: #333;
	font-size: 14px;
}

.box_main_qty .box_qty span{
    display: block;
    color: #666666;
    float: left;
    height: 53px;
    line-height: 53px;
    font-size: 14px;
    width: 65px;
}

.box_main_qty .box_qty .cantidad_ficha{
    border: 0;
    height: 50px;
    text-align: left;
    color: #333333;
    font-size: 14px;
    border-radius: 0;
    width: calc(100% - 170px);
    padding-left: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    float: left;
    cursor: pointer;
    outline: none;
}

.box_main_qty_carro .box_qty span{
	font-size: 12px;
	color: #333333;
	float: left;
	margin-top: 2px;
}

.box_main_qty_carro .box_qty .cantidad_carro{
	float: left;
	width: 20px;
	border: 0;
	cursor: pointer;
	font-size: 12px;
	background: transparent;
	text-align: center;
}

.box_main_qty .box_select_stock{
    position: absolute;
    background: #fff;
    border: 1px solid #f0f0f0;
    border-radius: 3px;
    width: 100%;
    text-align: left;
    display: none;
    box-shadow: 10px 0 15px rgba(102, 102, 102, .35);
}

.box_main_qty .box_select_stock::-webkit-scrollbar{
    width: 2px;     /* Tamaño del scroll en vertical */
    height: 2px;    /* Tamaño del scroll en horizontal */
}

.box_main_qty .box_select_stock::-webkit-scrollbar-thumb{
    background: #ccc;
    border-radius: 4px;
}

.box_main_qty .box_select_stock .row_stock_ficha{
    height: 52px;
    font-size: 16px;
    line-height: 52px;
    color: #333;
    cursor: pointer;
    padding: 0 12px;
}

.box_main_qty .box_select_stock .row_stock_ficha:hover{
    background: #f5f5f5;
}

.box_main_qty_carro .box_select_stock_carro,
.box_main_qty_cot .box_select_stock_cot{
    position: absolute;
    background: #fff;
    border: 1px solid #f0f0f0;
    border-radius: 3px;
    width: 100%;
    text-align: left;
    display: none;
    box-shadow: 10px 0 15px rgba(102, 102, 102, .35);
    z-index: 9;
}

.box_main_qty_carro .box_select_stock_carro::-webkit-scrollbar,
.box_main_qty_cot .box_select_stock_cot::-webkit-scrollbar{
    width: 2px;     /* Tamaño del scroll en vertical */
    height: 2px;    /* Tamaño del scroll en horizontal */
}

.box_main_qty_carro .box_select_stock_carro::-webkit-scrollbar-thumb,
.box_main_qty_cot .box_select_stock_cot::-webkit-scrollbar-thumb{
    background: #ccc;
    border-radius: 4px;
}

.box_main_qty_carro .box_select_stock_carro .row_stock_carro,
.box_main_qty_cot .box_select_stock_cot .row_stock_cot{
    height: 25px;
    font-size: 12px;
    line-height: 25px;
    color: #333;
    cursor: pointer;
    padding: 0 12px;
    cursor: pointer;
}

.box_main_qty_carro .box_select_stock_carro .row_stock_carro:hover,
.box_main_qty_cot .box_select_stock_cot .row_stock_cot:hover{
    background: #f5f5f5;
}

.box_main_qty_cot{
    position: relative;
    background: url('img/icons/arrownav.svg') transparent no-repeat;
    background-size: 10px;
    background-position: 93%; 
    cursor: pointer;
    float: right;
    width: 170px;
}

.box_main_qty_cot .text_unidad{
	float: left;
    height: 25px;
    line-height: 25px;
    color: #333;
    font-size: 14px;
}

.box_main_qty_cot .box_qty span{
    display: block;
    color: #666;
    float: left;
    height: 25px;
    line-height: 25px;
    font-size: 14px;
}

.box_main_qty_cot .box_qty .cantidad_ficha{
    border: 0;
    height: 23px;
    text-align: left;
    color: #333;
    font-size: 14px;
    border-radius: 0;
    width: calc(100% - 150px);
    padding-left: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    float: left;
    cursor: pointer;
    outline: none;
}

.btnCotizar,
.btnComprar{
	height: 53px;
	display: block;
	width: 100%;
	border-radius: 4px;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	line-height: 53px;
	text-transform: uppercase;
}

.btnCotizar{
	background: #fff;
	border: 1px solid #0336ff;
	color: #0336ff;
}

.btnComprar{
	background: #0336ff;
	border: 1px solid #0336ff;
	color: #fff;
}

.content_tabs_ficha .headTabs{
	background: #f5f5f5;
	width: 510px;
}

.content_tabs_ficha .headTabs .tab{
	color: #0336ff;
	font-size: 14px;
	text-transform: uppercase;
	text-align: center;
	padding: 22px 15px 13px 15px;
	display: inline-block;
	cursor: pointer;
}

.content_tabs_ficha .headTabs .tab:hover{
	border-bottom: 2px solid #0336ff;
}

.content_tabs_ficha .headTabs .tab.active{
	border-bottom: 2px solid #0336ff;
}

.content_tabs_ficha .bodyTabs{
	padding: 20px;
	width: 100%;
	max-width: 650px;
	color: #727272;
	font-size: 16px;
	display: none;
}

.content_tabs_ficha .bodyTabs.showBody{
	display: block;
}

.content_tabs_ficha .bodyTabs > ul {
	list-style: none;
	padding: 0;
	margin:0;
}

.content_tabs_ficha .bodyTabs > ul li{
	padding-left: 1em; 
    text-indent: -.7em;
    font-size: 16px;
    color: #727272;
    margin-bottom: 10px;
}

.content_tabs_ficha .bodyTabs > ul li::before {
	content: "• ";
	padding-right: 2px;
	color: #f09401;
}

.bg-relacionados{
	width: 100%;
	padding: 25px 0 50px 0;
	background: #f5f5f5;
}

.bg-relacionados .titulo{
	color: #000;
	font-size: 20px;
	font-weight: 500;
}

.gr-destacadosBanner{
	display: grid;
    grid-template-columns: 74.5% 23.8%;
    grid-column-gap: 20px;
}

.gr-destacadosBanner .col:nth-child(2) img{
	width: 100%;
}

.popupCarro,
.popupCot{
	width: 95%;
	max-width: 380px;
	background: #fff;
	position: fixed;
	top: 0;
	right: 0;
	box-shadow: 0px -1px 30px rgba(51,51,51,.5);
	padding-bottom: 30px;
	display: none;
	z-index: 10001;
}


.popupCarro .head,
.popupCot .head{
	padding: 30px 20px;
	border-bottom: 1px solid #ededed;
}

.popupCarro .head h3,
.popupCot .head h3{
	margin: 0;
	font-size: 18px;
	font-weight: 500;
	color: #001781;
}

.popupCarro .head h3 img,
.popupCot .head h3 img{
	width: 11px;
	float: right;
	cursor: pointer;
}

.popupCarro .row_pr,
.popupCot .row_pr{
	display: grid;
	grid-template-columns: 80px auto;
	grid-column-gap: 10px;
	padding: 10px 20px 20px 20px;
	border-bottom: 1px solid #ededed;
	position: relative;
}

.popupCarro .row_pr .eliminar,
.popupCot .row_pr .eliminar{
	position: absolute;
	right: 20px;
	top: 10px;
	cursor: pointer;
}

.popupCarro .row_pr .eliminar img,
.popupCot .row_pr .eliminar img{
	width: 20px;
	height: 20px;
}

.popupCarro .row_pr > a,
.popupCot .row_pr > a{
	display: block;
	border: 1px solid #ededed;
	text-align: center;
}

.popupCarro .row_pr > a img,
.popupCot .row_pr > a img{
	width: 100%;
	max-width: 60px;
}

.popupCarro .row_pr .info a.nombre,
.popupCot .row_pr .info a.nombre{
	display: block;
	color: #333333;
	font-size: 12px;
	height: 50px;
	max-width: 180px;
}

.popupCarro .row_pr .info span.unidad,
.popupCot .row_pr .info span.unidad{
	color: #353535;
	display: block;
	float: left;
}

.popupCarro .row_pr .info .precios{
	float: right;
	margin-top: -14px;
}

.popupCarro .row_pr .info .precios .descuento{
	font-size: 10px;
	color: #999999;
	text-align: right;
}

.popupCarro .row_pr .info .precios .precio{
	color: #ef9500;
	font-size: 14px;
	font-weight: bold;
	text-align: right;
}

.popupCarro .msj_despacho{
	display: block;
	color: #999;
	font-size: 12px;
	text-align: center;
	margin: 20px;
}

.popupCarro .buttonPop,
.popupCot .buttonPop{
	display: block;
	padding: 20px 10px;
	background: #0c35d9;
	border-radius: 4px;
	margin: 20px;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
}

.disabledBtn{
	background: #ccc!important;
}

.bg-pop{
	background: rgba(37, 36, 36, .6);
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 9999;
	display: none;
}

.popLogin,
.popRegistro,
.popRecuperar{
	position: absolute;
	top: 10%;
	left: calc(50% - 220px);
	background: #fff;
	width: 440px;
	padding: 20px;
	border-radius: 5px;
	z-index: 10000;
	display: none;
}

.popLogin .titulo,
.popRegistro .titulo,
.popRecuperar .titulo{
	color: #333333;
	font-size: 24px;
	font-weight: 500;
	text-align: center;
	margin-top: 20px;
	background: transparent;
	transform: translateZ(0);
}

.popLogin .subtitulo,
.popRegistro .subtitulo,
.popRecuperar .subtitulo{
	color: #999999;
	font-size: 14px;
	margin: 20px 0;
	text-align: center;
	background: #fff;
	transform: translateZ(0);
}

.popLogin .btn-login,
.popRegistro .btn-registro,
.popRecuperar .btn-recuperar{
	color: #fff;
	font-size: 14px;
	text-align: center;
	height: 53px;
	display: block;
	line-height: 53px;
	background: #0336ff;
	text-transform: uppercase;
	font-weight: bold;
	border-radius: 4px;
	border: 1px solid #eeeeee;
}

.popLogin .recPasswordOpen,
.popRegistro .recPasswordOpen{
	font-size: 12px;
	color: #3366ff;
	text-decoration: underline;
	text-decoration-color: #d8dfff;
	display: block;
	text-align: center;
	margin: 10px 0 20px 0;
}

.popLogin .btn-registro-open{
	color: #0336ff;
	border: 1px solid #0336ff;
	background: #fff;
	border-radius: 4px;
	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	height: 53px;
	line-height: 53px;
	display: block;
}

.popLogin .terminos,
.popRegistro .terminos,
.popRecuperar .terminos{
	text-align: center;
	margin: 20px 0 10px 0;
	font-size: 12px;
	color: #666666;
}

.popLogin .terminos a,
.popRegistro .terminos a,
.popRecuperar .terminos a{
	color: #3366ff;
	text-decoration: underline;
	text-decoration-color: #adbcff;
}

.swal-modal{
	z-index: 10002!important;
}

.nombre-header{
	background: #0033ff;
	color: #fff;
	width: 30px;
	height: 30px;
	border-radius: 100%;
	margin: auto;
	line-height: 30px;
	font-size: 14px;
}

.menu-dash-header{
	background: #fff;
	width: 190px;
	position: absolute;
	right: 0;
	top: 132%;
	border: 1px solid #f0f0f0;
	border-radius: 4px;
	text-align: left;
	z-index: 10000;
	display: none;
}

.menu-dash-header a{
	display: block;
	padding: 20px;
	color: #333333;
	font-size: 14px;
	transition: 200ms;
}

.menu-dash-header .btnLogoutHeader{
	background: #fff;
    border: 0;
    font-size: 14px;
    padding: 20px;
    width: 100%;
    text-align: left;
    cursor: pointer;
}

.menu-dash-header a:hover,
.menu-dash-header .btnLogoutHeader:hover{
	background: #f4f1fa;
}

.openDash{
	cursor: pointer;
}

.precio_ficha{
	margin-top: 15px;
}

.precio_ficha .precio{
	font-size: 25px;
	color: #ef9500;
	font-weight: 500;
}

.precio_ficha .descuento{
	color: #666;
}

.precio_ficha span{
	display: block;
}

.buttonDisabledFicha{
	background: #f5f5f5;
	display: block;
	height: 50px;
	text-align: center;
	border-radius: 8px;
	line-height: 50px;
}

.mw-350{
	max-width: 350px;
}

.precio_ficha .texto-precio{
	color: #dd1212;
	font-size: 14px;
}

.envio-pago{
	float: left;
	width: 100%;
	padding-top: 20px;
	min-height: 100vh;
}
.header-cart{
	float: left;
	width: 60%;
}
.envio-pago .bg1{
	position: fixed;
	top: 0;
	right: 0;
	width: calc(40% + 25px);
	background: transparent;
	height: 100%;
	z-index: -1;
}
.header-cart .logo{
	float: left;
	max-width: 110px;
	margin-bottom: 20px;
}
.header-cart h2{
	float: left;
	width: calc(100% - 110px);
	padding-left: 30px;
	font-size: 24px;
	margin: 5px 0 0;
	color: #14235c;
	font-weight: 600;
	line-height: 32px;
}
.resumen-compra{
	float: right;
	width: 100%;
    max-width: 295px;
	position: sticky;
	top: 0;
	border: 1px solid #f0f0f0;
	border-radius: 5px;
	margin-right: 70px;
	box-shadow: 5px 5px 20px rgba(153, 153, 153, .35);
}

.resumen-compra .cartResumen .title{
	font-size: 20px;
	font-weight: 500;
	color: #000000;
	padding: 20px;
	border-bottom: 1px solid #f0f0f0;
}

.resumen-compra .productos{
	float: left;
	width: 100%;
	max-height: 311px;
	overflow-y: auto;
}
.resumen-compra .productos .line{
	float: left;
	width: 100%;
	position: relative;
	padding: 20px;
	border-bottom: 1px solid #f0f0f0;
}
.resumen-compra .productos .line .delete{
	position: absolute;
	top: 20px;
    right: 20px;
	font-size: 12px;
	cursor: pointer;
	color: #999;
}
.resumen-compra .productos .line .img{
	float: left;
	width: 60px;
	height: 60px;
	border: 1px solid #f0f0f0;
	background: #fff;
	position: relative;
}
.resumen-compra .productos .line .img img{
	object-fit: contain;
	-o-object-fit: contain;
	width: 100%;
	height: 100%;
	border-radius: 5px;
}
.resumen-compra .productos .line .img .cant{
	position: absolute;
	top: -5px;
	right: -5px;
	width: 18px;
	height: 18px;
	text-align: center;
	line-height: 18px;
	background: #033299;
	border-radius: 100%;
	color: #fff;
}
.resumen-compra .productos .line .detail{
	float: left;
	width: calc(100% - 60px);
	padding-left: 20px;
}
.resumen-compra .productos .line .detail .marca{
	float: left;
	width: 100%;
	color: #36c;
	font-size: 14px;
	font-weight: 560;
}
.resumen-compra .productos .line .detail .nombre{
	float: left;
	width: 100%;
	color: #333333;
	font-size: 12px;
	font-weight: 400;
	padding-right: 20px;
	height: 32px;
	overflow: hidden;
	line-height: 16px;
}
.resumen-compra .productos .line .detail .edit{
	float: left;
	color: #06c;
	text-decoration: underline;
	margin-top: 8px;
}
.resumen-compra .productos .line .precio{
	float: left;
	width: 100px;
	color: #ef9500;
	font-size: 12px;
	font-weight: bold;
	position: absolute;
    right: 20px;
    bottom: 23px;
    text-align: right;
}
.resumen-compra .productos .line .precio span{
	float: left;
	width: 100%;
	font-size: 10px;
	color: #999999;
	font-weight: 400;
}
.resumen-compra .codigo-descuento{
	float: left;
	width: 100%;
	padding: 0 0 20px;
	border-bottom: 1px solid #dedde0;
}
.resumen-compra .codigo-descuento .btn{
	float: right;
	max-width: 180px;
	border: 1px solid #033299;
	background: transparent;
	color: #033299;
	transition: 0.3s all ease;
	-webkit-transition: 0.3s all ease;
}
.resumen-compra .codigo-descuento .btn:hover{
	background: #033299;
	color: #fff;
}
.resumen-compra .codigo-descuento input{
	float: left;
	width: calc(100% - 200px);
	border: 1px solid #dedde0;
	margin-top: 20px;
	height: 48px;
	border-radius: 3px;
	background: transparent;
	padding: 0 20px;
	font-size: 14px;
}
.resumen-compra .totales{
	float: left;
	width: 100%;
	padding: 20px 0;
	padding-bottom: 0px;
	border-bottom: 1px solid #dedde0;
	font-size: 12px;
}
.resumen-compra .totales .valor{
	float: left;
	width: 100%;
	color: #333333;
	padding: 0 20px;
	margin-bottom: 10px;
}
.resumen-compra .totales .valor span{
	float: right;
}
.resumen-compra .totales .valor.total{
	border-top: 1px solid #f0f0f0;
	padding: 20px;
	font-size: 12px;
	margin-bottom: 0;
	color: #0336ff;
}
.resumen-compra .totales .valor.total span{
	font-size: 16px;
	color: #ef9500;
	font-weight: bold;
}
.resumen-compra .ir-al-pago{
	margin-bottom: 50px;
}
.datos-compra{
	float: left;
	width: 60%;
	position: relative;
}
.datos-envio{
	float: left;
	width: 100%;
}
.datos-retiro{
	float: left;
	width: 100%;
	display: none;
}
.datos-compra .disabled{
	position: absolute;
	width: calc(100% - 40px);
	height: calc(100% - 150px);
	top: 114px;
	left: 0;
	background: rgba(255,255,255,0.8);
	z-index: 9;
}
.datos-compra h4{
	float: left;
	width: 100%;
	font-weight: 500;
	font-size: 20px;
	color: #000;
	margin-top: 0px;
	margin-bottom: 15px;
}
.datos-compra h4 span{
	color: #999999;
	font-size: 16px;
	margin-left: 20px;
	float: right;
	font-weight: 400;
	margin-top: 3px;
}
.datos-compra h4 span a{
	color: #0066cc;
	text-decoration: underline;
}
.datos-compra h4 > a{
	float: right;
	width: 125px;
	font-size: 14px;
	line-height: 30px;
	margin: 0px 70px 0 0;
	text-transform: none;
	font-weight: 500;
}
.datos-compra form{
	float: left;
	width: 100%;
	padding-right: 70px;
	margin-bottom: 50px;
}
.datos-compra form .campo{
	float: left;
	width: 100%;
}

.datos-compra form .campo .campo-m{
	float: left;
	width: calc(50% - 10px);
	margin-right: 20px;
}
.datos-compra form .campo .campo-m:nth-child(2n){
	margin-right: 0;
}
.datos-compra form .campo.mail .btn{
	float: right;
	width: 130px;
	margin: 0;
}

.datos-compra form .campo.mail .input-form{
	width: calc(100% - 210px);
    float: left;
}

.datos-compra form select{
	background: #ffffff;
	float: left;
	width: 100%;
	border: 1px solid #dfe1e6;
	padding: 0 20px;
	color: #999999;
	font-size: 14px;
	font-weight: 600;
	margin: -1px 0;
	background: url(img/select-arrow.png) 96% 52% no-repeat #fff;
	-webkit-appearance: none;
	border-radius: 0;
	height: 48px;
}
.datos-compra form .ver-carro{
	float: right;
	color: #0336ff;
	font-weight: 400;
	font-size: 12px;
	text-decoration: underline;
	text-decoration-color: #a3adff;
	margin-top: 9px;
	margin-right: 5px;
}
.opciones-retiro{
	float: left;
	width: 100%;
}
.opciones-retiro .opc{
	border-bottom: 1px solid #dfe1e6;	
	float: left;
	width: 100%;
	padding: 15px 20px;
}
.opciones-retiro .opc:last-child{
	border: 0;
}
.opciones-retiro label{
	float: left;
	width: calc(100% - 30px);
	font-size: 12px;
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	color: #333333;
	font-weight: 600;
	margin-bottom: 0;
}

.btn.disabl{
	background: #ccc;
}

.contenedor{
	display: table;
    clear: both;
    margin: 0 auto;
    width: 100%;
    max-width: 1280px;
    padding: 0 50px;
}

.header-carro{
	height: 80px;
	background: #fff;
	border-bottom: 1px solid #f0f0f0;
}

.logo-carro{
	margin: 10px auto!important;
}

.btnMostrarResumen{float: left; width: 100%; display: none; background-color: #f6f6f6; padding: 15px; border-bottom: solid 1px #f0f0f0; cursor: pointer;}
.btnMostrarResumen span{float: left; margin-right: 5px; color:#001680; font-size: 12px; margin-top: 3px; margin-left: 5px;}
.btnMostrarResumen .totalCart2{float: right; font-size: 16px; color: #ef9500; font-weight: bold; line-height: 24px;}
.btnMostrarResumen img{
	width: 20px;
	float: left;
}

#btnEmailCompra{
	background: #0336ff;
	text-transform: uppercase;
	color: #fff;
	font-weight: bold;
	font-size: 14px;
	height: 57px;
	width: 190px;
	border:0;
	border-radius: 4px;
	float: right;
	cursor: pointer;
	transition: 300ms;
}

#btnEmailCompra:hover{
	background: #022cd1;
}

.wd-100{
	width: 100%!important;
}

.radiobtn{
	position: relative;
	float: left;
	width: 46px;
	height: 46px;
	margin-top: -5px;
	margin-left: -11px;
	margin-bottom: -11px;
	transition:	0.2s all linear;
    -webkit-transition:	0.2s all linear;
    border-radius: 100%;
}
.radiobtn:hover{
	background: rgba(223,225,230,0.2);
}
.radiobtn:active{
	background: rgba(223,225,230,0.8);
}
.radiobtn input[type=radio]{
	position: absolute;
	height: 46px;
	width: 46px;
	margin: 0;
	padding: 0;
	z-index: 9;
	opacity: 0;
}
.radiobtn .check{
	display: block;
	position: absolute;
	border: 2px solid #74727a;
	border-radius: 100%;
	height: 24px;
    width: 24px;
    top: 11px;
    left: 11px;
	z-index: 5;
	transition: border .25s linear;
	-webkit-transition: border .25s linear;
}
.radiobtn .check::before {
	display: block;
	position: absolute;
	content: '';
	border-radius: 100%;
	height: 14px;
	width: 14px;
	top: 3px;
	left: 3px;
	margin: auto;
	transition: background 0.25s linear;
	-webkit-transition: background 0.25s linear;
}
.radiobtn input[type=radio]:checked ~ .check {
	border: 2px solid #1f55bc;
}
.radiobtn input[type=radio]:checked ~ .check::before{
  	background: #1f55bc;
}
.radiobtn input[type=radio]:checked ~ label{
  	
}
.checkbox{
	float: left;
	margin-top: -11px;
	margin-left: -11px;
}
.checkbox label{
	float: left;
	width: auto;
	font-size: 14px;
	line-height: 41px !important;
	color: #001680;
}
.checkbtn{
	float: left;
    width: 40px;
    height: 40px;
    position: relative;
    padding: 11px;
    border-radius: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;   
    transition:	0.2s all linear;
    -webkit-transition:	0.2s all linear;
}
.checkbtn:hover{
	background: rgba(223,225,230,0.2);
}
.checkbtn:active{
	background: rgba(223,225,230,0.8);
}
.checkbtn input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    width: 18px !important;
    height: 18px !important;
    top: 7px;
	left: 7px;
	z-index: 1;
}
.checkmark {
    position: absolute;
    top: 11px;
    left: 11px;
    height: 18px;
    width: 18px;
    background-color: transparent;
    border: 2px solid #ccc;
    border-radius: 4px;
}
.checkbtn:hover input ~ .checkmark {
    /* border: 2px solid #044fe6; */
}
.checkbtn:active input ~ .checkmark {
    border: 2px solid #ef9500;
}
.checkbtn input:checked ~ .checkmark {
    background-color: #ef9500;
    border: 1px solid #ef9500;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.checkbtn input:checked ~ .checkmark:after {
    display: block;
}
.checkbtn .checkmark:after {
    left: 5px;
	top: 2px;
	width: 4px;
	height: 8px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.checkbtn small{
	color: #999999;
	font-size: 10px;
}

.datos-factura{
	float: left;
	width: 100%;
	display: none;
}

.double-form{
	display: grid;
    grid-template-columns: repeat(2, calc(50% - 10px));
    grid-column-gap: 20px;
}

.tabs-carro{
	display: grid;
	grid-template-columns: repeat(2, 50%);
	align-items: center;
	background: #fafafa;
	height: 50px;
	font-size: 14px;
	color: #818181;
	text-transform: uppercase;
	text-align: center;
}

.tabs-carro .col{
	margin-bottom: 2px solid #fff;
	height: 100%;
	cursor: pointer;
}

.tabs-carro .col .material-icons{
	color: #737373;
}

.tabs-carro .col > div{
	display: inline-block;
	margin-top: 13px;
}

.tabs-carro .col span{
	float: left;
}

.tabs-carro .col span.texto{
	margin-top: 4px;
	margin-left: 15px;
}

.tabs-carro .col.active{
	border-bottom: 2px solid #1f55bc;
	background: #f4f1fa;
}

.tabs-carro .col.active span.texto{
	color: #0e5fcc;
}

.tabs-carro .col.active .material-icons{
	color: #0236fc;
}
.row-sucursal{
	display: grid;
    grid-template-columns: repeat(2, calc(50% - 10px));
    grid-column-gap: 20px;
    margin-bottom: 20px;
}

.row-sucursal input[type="radio"]{
  border: 1px solid #e0e1e4;
  width: 100%;
  height: 95px;
  border-radius: 3px; 
  -webkit-appearance: none;
}
.row-sucursal input[type="radio"]:checked{
  border: 1px solid #fab630;
}

.row-sucursal .info{
  position: absolute;
  top: 20px;
  left: 20px;
  width: calc(100% - 40px);
  z-index: -1;
}

.row-sucursal .info .nombre{
	color: #001680;
	font-size: 14px;
	font-weight: bold;
}

.row-sucursal .info .direc{
	color: #666666;
	font-size: 14px;
	margin-top: 5px;
}

.row-sucursal .map{
	padding-top: 3px;
}

.botonRespCarro{
	display: none;
}

.content_despachos{
	margin-bottom: 15px;
	display: none;
}

.rb-despachos{
	width: calc(50% - 10px);
	margin-right: 20px;
	display: inline-block;
	position: relative;
}

.rb-despachos:last-child{
	margin-right: 0;
}

.rb-despachos input[type="radio"]{
  border: 1px solid #e0e1e4;
  background: url(img/icons/rbdespachos.png) no-repeat;
  background-position: 20px;
  width: 100%;
  height: 60px;
  border-radius: 3px; 
  -webkit-appearance: none;
}

.rb-despachos input[type="radio"]:checked{
  border: 2px solid #fab630;
  background: url(img/icons/rbdespachos-checked.png) no-repeat;
  background-position: 20px;
}

.rb-despachos input[type="radio"]:checked ~ .precio{
	font-weight: bold;
	color: #ef9500;
}

.rb-despachos .info{
	position: absolute;
    top: 16px;
    left: 20%;
    z-index: -1;
}

.rb-despachos .info span{
	display: block;
}

.rb-despachos .info span.title{
	font-size: 16px;
	color: #666666;
}

.rb-despachos .info span.horas{
	font-size: 14px;
	color: #333333;
}

.rb-despachos .precio{
	font-size: 16px;
	color: #333333;
	position: absolute;
    right: 20px;
    top: 24px;
    z-index: -1;
}

.chkSaveInfo{
	margin-left: 5px;
	margin-top: 15px;
}

.chkSaveInfo label{
	font-size: 12px;
	color: #666666;
	margin-left: 10px;
}

.buttonNext{
	background: #0336ff;
	width: 100%;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	height: 55px;
	line-height: 55px;
	border-radius: 6px;
	cursor: pointer;
	transition: 300ms;
	margin-top: 10px;
}

.buttonNext:hover{
	background: #0530da;
}

.btnRetiro{
	width: 100%;
	max-width: 190px;
	margin-right: 20px;
	border: 1px solid #0336ff;
	color: #0336ff;
	font-size: 14px;
	font-weight: bold;
	display: inline-block;
	height: 56px;
	text-align: center;
	line-height: 56px;
	text-transform: uppercase;
	border-radius: 5px;
	cursor: pointer;
	transition: 300ms;
}

.btnRetiro.chked{
	background: #0336ff;
	color: #fff;
}

.content_quien_retira{
	display: none;
}

.datos-cargados{
	float: left;
	width: 60%;
	padding-right: 70px;
	margin-bottom: 50px;
	display: none;
}
.datos-cargados h4{
	float: left;
	width: 100%;
	font-weight: 500;
	font-size: 20px;
	color: #000;	
}
.datos-cargados .datos-line{
    float: left;
    width: 100%;
    border: 1px solid #dfe1e6;
    border-radius: 3px;
}
.datos-cargados .datos-line .line{
	float: left;
	width: 100%;
	color: #333333;
	font-size: 16px;
	font-weight: 400;
	border-bottom: 1px solid #dfe1e6;
	padding: 15px 20px;
	position: relative;
}
.datos-cargados .datos-line .line:last-child{
	border: 0;
}
.datos-cargados .datos-line .line div{
	margin-right: 20px;
}
.datos-cargados .datos-line .line span{
	float: left;
	color: #999999;
	font-size: 14px;
	max-width: 60%;
}
.datos-cargados .datos-line .line a{
	float: right;
	color: #0e5fcc;
	text-decoration: underline;
	text-decoration-color: #a5bae6;
	font-size: 12px;
	position: absolute;
	right: 15px;
	top: 15px;
}
.datos-cargados .ver-carro{
	float: right;
	color: #0e5fcc;
	font-weight: 600;
	font-size: 14px;
	text-decoration: underline;
	margin-top: 9px;
}

.medios{
	display: grid;
	width: 100%;
	grid-template-columns: repeat(3, auto);
    align-items: center;
}

.chkTerminos label{
	font-weight: bold;
	font-size: 12px;
	color: #666666;
}

.pagar,
.pagarLogin{
	height: 56px;
	line-height: 56px;
	width: 100%;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	background: #0336ff;
	border: 1px solid #0336ff;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 10px;
}

.pagarLogin{
	line-height: initial;
}

.btnAgregarDireccion{
	width: 190px;
	height: 57px;
	border: 1px solid #0336ff;
	border-radius: 4px;
	display: block;
	text-align: center;
	color: #0336ff;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	background: #fff;
	line-height: 57px;
}

.main-direcciones{
	width: calc(100% - 210px);
    float: left;
    margin-right: 20px;
}

.datos-info .line{
	border: 1px solid #ededed;
	border-radius: 4px;
	padding: 15px;
	border-bottom: 0;
}

.datos-info .line:last-child{
	border-bottom: 1px solid #ededed;
}

.datos-info .line > div{
	color: #333333;
	font-size: 16px;
}

.datos-info .line > span{
	color: #999999;
	font-size: 14px;
}

.bg-addDir{
	background: rgba(0,0,0, .5);
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	display: none;
}

.content_new_dir{
	position: fixed;
	top: 20%;
	left: 5%;
	width: 95%;
	max-width: 720px;
	border-radius: 6px;
	display: none;
	background: #fff;
	padding: 20px 50px;
	z-index: 9;
}

.content_new_dir .title{
	font-size: 20px;
	font-weight: 500;
	color: #000;
}

.content_new_dir a{
	font-size: 14px;
	font-weight: bold;
	width: 100%;
	max-width: 190px;
	display: block;
	line-height: 56px;
	text-align: center;
	text-transform: uppercase;
	border-radius: 4px;
	float: right;
	margin-top: 20px;
}

.cancelarDir{
	background: #e5e5e5;
	color: #bfbfbf;
	height: 56px;
	margin-right: 20px;
}

.agregarDirPop{
	background: #0336ff;
	color: #fff;
}

.cart-resumen .cart{
	float: left;
	width: 60%;
}
.cart-resumen .col{
	float: right;
	width: calc(30% - 20px);
	margin-bottom: 50px;
}
.cart-resumen h4{
	float: left;
	width: 100%;
	font-weight: 500;
	font-size: 20px;
	color: #000000;	
}
.cart-resumen .filaProductos{
	float: left;
	width: 100%;
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: solid 1px #f0f0f0;
	position: relative;
}
.cart-resumen .filaProductos .img{
	float: left;
	width: 80px;
	height: 80px;
	border: 1px solid #e0e1e7;
	border-radius: 5px;
	overflow: hidden;
}
.cart-resumen .filaProductos .img img{
	object-fit: contain;
	-o-object-fit: contain;
	width: 100%;
	height: 100%;
}
.cart-resumen .filaProductos .detail{
	float: left;
	width: calc(100% - 80px);
	padding-left: 20px;
}
.cart-resumen .filaProductos .marca{
	float: left;
	width: 100%;
	color: #3366cc;
}
.cart-resumen .filaProductos .nombre{
	float: left;
	width: 100%;
	max-width: 245px;
	padding-right: 50px;
	font-size: 14px;
	font-weight: 600;
	color: #666666;
}
.cart-resumen .filaProductos .precio_u{
	float: left;
	width: 150px;
	padding-right: 30px;
	font-size: 16px;
	color: #999999;
	font-weight: bold;
	height: 48px;
	text-align: right;
}
.cart-resumen .filaProductos .precio_u span{
	float: left;
	width: 100%;
	color: #333333;
	font-size: 12px;
	font-weight: 400;
}
.cart-resumen .filaProductos .precio_t{
	float: left;
	width: 120px;
	font-size: 16px;
	color: #ef9500;
	font-weight: bold;
	height: 48px;
	text-align: right;
}
.cart-resumen .filaProductos .sku{
	color: #999999;
	font-weight: 400;
	font-size: 12px;
}
.cart-resumen .filaProductos .nombre{
	color: #333;
	font-weight: 400;
	font-size: 14px;
}
.cart-resumen .filaProductos .precio_t span{
	float: left;
	width: 100%;
	color: #333333;
	font-size: 12px;
	font-weight: 400;
}
.cart-resumen .filaProductos .cantidad{
	float: right;
	width: 80px;
	margin: 0;
}
.cart-resumen .filaProductos .cantidad select{
	background: #ffffff;
	float: left;
	width: 100%;
	border: 1px solid #dfe1e6;
	padding: 0 10px;
	color: #000000;
	font-size: 12px;
	font-weight: 600;
	margin: -1px 0;
	background: url(img/select-arrow.png) 90% 52% no-repeat #fff;
	-webkit-appearance: none;
	border-radius: 0;
	height: 48px;	
}
.cart-resumen .filaProductos .cantidad input{
	display: none;
	background: #ffffff;
	float: left;
	width: 100%;
	border: 1px solid #dfe1e6;
	padding: 0 10px;
	color: #000000;
	font-size: 12px;
	font-weight: 600;
	margin: -1px 0;
	border-radius: 0;
	height: 48px;
}
.cart-resumen .filaProductos .botoneraShowCart{
	float: left;
	width: 100%;
}
.cart-resumen .resumen{
	float: right;
	width: 100%;
	border: 1px solid #f0f0f0;
	border-radius: 4px;
	margin-top: 20px;
	box-shadow: 0px 5px 20px rgba(153,153,153,.35);
}
.cart-resumen .resumen h3{
	float: left;
	width: 100%;
	font-weight: 500;
	font-size: 20px;
	color: #000000;	
	padding: 15px 20px;
	border-bottom: 1px solid #f0f0f0;
	margin: 0;
}
.cart-resumen .resumen .total{
	float: left;
	width: 100%;
	padding: 20px;
	font-size: 24px;
	color: #ef9500;
    font-weight: bold;
}
.cart-resumen .resumen .total span{
	float: left;
	width: 100%;
	font-size: 12px;
	color: #333333;
	font-weight: 400;
}
.cart-resumen .resumen .total p{
	float: left;
	width: 100%;
	margin: 5px 0 0;
	color: #999;
	font-size: 12px;
	font-weight: 400;
	line-height: 14px;
}
.cart-resumen .resumen .btnResumen{
	background: #0336ff;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	display: block;
	width: 100%;
	height: 56px;
	line-height: 56px;
	border-radius: 4px;
	margin-top: 10px;
}
.cart-resumen .vistos{
	float: right;
	width: 100%;
	border: 1px solid #dfe1e6;
	border-radius: 2px;
	margin-top: 20px;
}
.cart-resumen .vistos h3{
	float: left;
	width: 100%;
	font-weight: 600;
	font-size: 18px;
	color: #14235c;	
	padding: 15px 20px;
	border-bottom: 1px solid #dfe1e6;
	margin: 0;
}
.cart-resumen .vistos .img{
	float: left;
	width: 60px;
	height: 60px;
	border: 1px solid #e0e1e7;
	border-radius: 5px;
	overflow: hidden;
}
.cart-resumen .vistos .img img{
	object-fit: contain;
	-o-object-fit: contain;
	width: 100%;
	height: 100%;
}
.cart-resumen .vistos .filaProductosVistos{
	margin: 0;
	padding: 20px;
	border-bottom: solid 1px #dfe1e6;
}
.cart-resumen .vistos .filaProductosVistos:last-child{
	border: 0;
}
.cart-resumen .vistos .filaProductosVistos .detail{
	float: left;
	width: calc(100% - 60px);
	padding-left: 10px;
}
.cart-resumen .vistos .filaProductosVistos .marca{
	float: left;
	width: 100%;
	color: #3366cc;
	font-size: 11px;
	font-weight: 600;
	line-height: 12px;
}
.cart-resumen .vistos .filaProductosVistos .nombre{
	float: left;
	width: 100%;
	font-size: 14px;
	font-weight: 600;
	color: #666;
	line-height: 16px;
	height: 32px;
	overflow: hidden;
}
.cart-resumen .vistos .filaProductosVistos .ver-ficha{
	float: left;
	width: 100%;
	color: #3366cc;
	font-size: 12px;
	font-weight: 100;
	line-height: 14px;
	text-decoration: underline;
}
.pr-guardados{
	float: left;
	width: 70%;
}
.cart-resumen .pr-guardados .filaProductos .nombre{
	max-width: 300px;
}
.cart-resumen .pr-guardados .filaProductos .precio_t{
	float: right;
	padding: 0;
	text-align: right;
}
.cart-resumen .pr-guardados .filaProductos .botonesFilaGuardado{
	float: right;
	width: auto;
}
.cart-resumen .pr-guardados .filaProductos .botonesFilaGuardado a{
	font-size: 14px;
}
.cart-resumen .pr-guardados .filaProductos .botonesFilaGuardado .borrar{
	color: #cccccc;
	text-decoration: underline;
}
.cart-resumen .pr-guardados .filaProductos .botonesFilaGuardado .mover{
	color: #0066ff;
	text-decoration: underline;
	font-weight: 600;
}

.activeRegion .select-selected .animationSelect{
	top: -12px!important;
    left: 16px!important;
    font-size: 10px!important;
    color: #0236fc!important;
}

.row-pedido,
.row-certificados{
	border: 1px solid #f0f0f0;
	margin-top: 20px;
}

.row-pedido .header-row,
.row-certificados .header-row{
	display: grid;
	grid-template-columns: repeat(3, 33.333333%);
	border-bottom: 1px solid #f0f0f0;
	padding: 20px;
}

.row-pedido .header-row .titulo_row,
.row-certificados .header-row .titulo_row{
	color: #999999;
	font-weight: bold;
	font-size: 12px;
	margin-bottom: 5px;
}

.row-pedido .header-row .descrip,
.row-certificados .header-row .descrip{
	color: #4f4d51;
	font-size: 14px;
}

.row-pedido .header-row .descrip_oc,
.row-certificados .header-row .descrip_oc{
	color: #999999;
	font-size: 12px;
}

.row-pedido .header-row .btn-ver-detalle{
	color: #4285f4;
	font-size: 12px;
	text-decoration: underline;
	text-decoration-color: #9ab8f8;
	cursor: pointer;
	margin-top: 5px;
}

.row-pedido .header-row .btn-ver-detalle:after{
	content: "Ver detalle";
}

.row-pedido .header-row .btn-ver-detalle-open:after{
	content: "Ver menos";
}

.row-pedido .body-detalle{
	padding: 20px;
	display: grid;
	grid-template-columns: 33.333333% 66.666666%;
}

.row-pedido .open-body{
	display: none;
}

.row-pedido .body-detalle .titulo_detalle{
	color: #4f4d51;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.row-pedido .body-detalle span.info{
	display: block;
	color: #999999;
	margin-bottom: 5px;
}

.row-pedido .body-detalle .row-total{
	color: #999999;
	font-size: 14px;
	width: 100%;
	margin-bottom: 4px;
}

.row-pedido .body-detalle .row-total span{
	float: right;
}

.row-pedido .body-detalle .row-total span.total{
	color: #ef9500;
	font-weight: bold;
}

.row-pedido .row-producto,
.row-certificados .row-producto{
	padding: 20px;
	display: grid;
	grid-template-columns: repeat(2, 50%);
}

.row-pedido .row-producto .img,
.row-certificados .row-producto .img{
	width: 60px;
	height: 60px;
	border: 1px solid #f0f0f0;
	float: left;
	margin-right: 10px;
}

.row-pedido .row-producto .img img,
.row-certificados .row-producto .img img{
	width: 100%;
}

.row-pedido .row-producto .nombre,
.row-certificados .row-producto .nombre{
	color: #666666;
	font-size: 14px;
}

.row-pedido .row-producto .precio_final,
.row-certificados .row-productos .precio_final{
	color: #ef9500;
	font-weight: bold;
	font-size: 16px;
}

.row-pedido .btn-pedidos{
	padding: 20px;
	overflow: hidden;
}

.row-pedido .btn-pedidos .button{
	float: right;
	height: 36px;
	display: block;
	width: 155px;
	border-radius: 4px;
	text-align: center;
	line-height: 36px;
	font-weight: bold;
	text-transform: uppercase;
}

.row-pedido .btn-pedidos .volverAComprar{
	background: #0336ff;
	color: #fff;
}

.row-pedido .btn-pedidos .seguirPedido{
	border: 1px solid #0336ff;
	color: #0336ff;
	background: #fff;
	margin-right: 20px;
}

.titulo_cotizacion{
	font-weight: 500;
	font-size: 20px;
}

.titulo_cotizacion span{
	color: #999999;
	font-weight: 400;
}

.content_carro_cot{
	width: 85%;
}

.content_carro_cot .row_cot{
	border-bottom: 1px solid #f0f0f0;
	padding: 20px 0;
	position: relative;
}

.content_carro_cot .row_cot .img_cot{
	width: 85px;
	height: 85px;
	border: 1px solid #f0f0f0;
	float: left;
}

.content_carro_cot .row_cot .img_cot img{
	object-fit: contain;
	width: 100%;
}

.content_carro_cot .row_cot .nombre{
	color: #333333;
	font-size: 16px;
	margin-left: 30px;
	float: left;
}

.content_carro_cot .row_cot .action_cot{
	position: absolute;
	bottom: 20px;
	left: 115px;
}

.content_carro_cot .row_cot .action_cot a{
	color: #cccccc;
	font-size: 14px;
	margin-right: 20px;
}

.gr-cotizacion{
	display: grid;
    grid-template-columns: 65% calc(35% - 20px);
    grid-column-gap: 20px;
}

.tCompleta{
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 20px;
}

.content_form_cotizacion{
	float: right;
	width: 100%;
	max-width: 400px;
}

.btnEnviarCotizacion{
	width: 100%;
	background: #0336ff;
	border:1px solid #0336ff;
	border-radius: 4px;
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	height: 55px;
	cursor: pointer;
}

.box-message{
	border: 1px solid #f0f0f0;
	border-radius: 3px;
	padding: 20px 10px;
	color: #666666;
	margin-bottom: 20px;
}

.box-message span.title{
	font-size: 14px;
	font-weight: bold;
	display: block;
	margin-bottom: 5px;
}

.descargarCertificado{
	width: 100%;
	max-width: 190px;
	height: 37px;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	background: #0336ff;
	display: block;
	text-align: center;
	padding: 0 10px;
	line-height: 37px;
	border-radius: 4px;
	float: right;
}

.blockCertificado{
	width: 100%;
	max-width: 190px;
	height: 37px;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	background: #ccc;
	display: block;
	text-align: center;
	padding: 0 10px;
	line-height: 37px;
	border-radius: 4px;
	float: right;
}

.onCatBox{
	display: block!important;
}

#slider-range{
	margin-top: 15px;
	width: 85%;
    margin-left: 12px;
    margin-bottom: 30px;
}

.ui-slider-horizontal .ui-slider-range{
	height: 4px!important;
}

.ui-slider-horizontal .ui-slider-handle{
	top: -9px!important;
}

.ui-widget.ui-widget-content{
	height: 4px!important;
    background: #ccc!important;
}

.min-filtro,
.max-filtro{
	color: #666;
}

.bannerCol img{
	width: 100%;
}

.titulo_buscar{
	color: #050505;
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 20px;
}

.filtros_aplicados{
	padding-bottom: 15px;
	border-bottom: 1px solid #f0f0f0;
}

.filtros_aplicados .filter_apply{
	font-size: 14px;
	color: #666666;
	font-weight: 300;
	display: block;
	margin-bottom: 5px;
}

.filtros_aplicados .aplicado{
	background: #e0e0e0;
	display: inline-block;
	border-radius: 20px;
	padding: 8px;
	margin-right: 8px;
	margin-bottom: 8px;
	float: left;
}

.filtros_aplicados .aplicado i{
	background: #666;
    color: #e0e0e0;
    border-radius: 100%;
    font-size: 14px;
    width: 18px;
    height: 18px;
    text-align: center;
    line-height: 18px;
    font-weight: bold;
}

.filtros_aplicados .aplicado span{
	color: #666;
    font-size: 14px;
    float: left;
    margin-right: 5px;
    margin-top: 1px;
}

.filtros_aplicados .limpiar_filtros{
	color: #666;
	font-size: 12px;
	margin-top: 10px;
	display: block;
}

.filtros_aplicados .limpiar_filtros i{
	color: #999999;
	font-size: 14px;
}

.carro_vaciopop{
	margin: 20px;
}

.msjeCot{
	color: #999999;
	font-size: 14px;
}

.btnIrHome{
	color: #0336ff;
	font-weight: bold;
	font-size: 14px;
	display: block;
	width: 295px;
	height: 55px;
	border: 1px solid #0336ff;
	border-radius: 4px;
	text-transform: uppercase;
	text-align: center;
	line-height: 55px;
}

.sub_busqueda{
	font-size: 18px;
	color: #999999;
}

.content_success{
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	z-index: 1;
	padding: 20px;
}

.content_success .vertical-align{
	display: grid;
	height: 100%;
	align-items: center;
}

.content_success .succ_msje{
	font-size: 20px;
	color: #000;
	font-weight: 500;
	margin-top: 20px;
	margin-bottom: 15px;
}

.content_success .sub_m{
	color: #666;
	font-size: 14px;
}

.content_success .btnSucc{
	color: #fff;
	width: 100%;
	height: 56px;
	line-height: 56px;
	display: block;
	text-align: center;
	text-transform: uppercase;
	background: #0336ff;
	font-size: 14px;
	font-weight: bold;
	margin-top: 20px;
	border-radius: 4px;
}

.content_success_news{
	background: #fff;
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	padding: 25px 0;
	text-align: center;
	display: none;
}

.content_success_news .title{
	font-size: 20px;
	color: #000;
	font-weight: 500;
}

.content_success_news .sub{
	font-size: 18px;
	color: #666;
	margin-top: 15px;
}

.btn_news{
	background: #0336ff;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	line-height: 56px;
	height: 56px;
	width: 100%;
	max-width: 250px;
	border-radius: 4px;
	display: block;
	margin: 20px auto 0 auto;
	text-transform: uppercase;
}

.ofertasnav{
	font-weight: 500;
	color: #0336ff!important;
}

.oferta-grilla{
	background: #ef9500;
	width: 48px;
	height: 48px;
	border-radius: 100%;
	display: block;
	position: absolute;
	top: 20px;
	left: 20px;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	line-height: 48px;
	text-align: center;
}

.banner_oferta{
	margin-bottom: 20px;
}

.banner_oferta img{
	width: 100%;
	display: block;
}

.btnCotizacionSuccess{
	background: #0336ff;
	color: #fff;
	font-weight: bold;
	font-size: 14px;
	text-transform: uppercase;
	text-align: center;
	display: block;
	height: 56px;
	border-radius: 4px;
	line-height: 56px;
}

.head_exito{
	text-align: center;
}

.head_exito .title_exito{
	color: #050505;
	font-weight: bold;
	font-size: 24px;
}

.head_exito p{
	color: #999999;
	font-size: 18px;
}

.head_exito p span{
	color: #0062c5;
	font-weight: bold;
}

.head_exito .btnComprobante{
	display: inline-block;
	height: 56px;
	color: #0336ff;
	border: 1px solid #0336ff;
	border-radius: 4px;
	font-size: 14px;
	font-weight: bold;
	line-height: 56px;
	width: 220px;
	text-transform: uppercase;
	margin-right: 20px;
}

.head_exito .btnReturn{
	display: inline-block;
	height: 56px;
	color: #fff;
	background: #0336ff;
	border: 1px solid #0336ff;
	border-radius: 4px;
	font-size: 14px;
	font-weight: bold;
	line-height: 56px;
	width: 220px;
	text-transform: uppercase;
}

.gr-exito{
	display: grid;
	grid-template-columns: repeat(4, calc(25% - 15px));
	grid-column-gap: 20px;
	margin-bottom: 20px;
}

.gr-exito .col .title{
	color: #4f4d51;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.gr-exito .col .row{
	color: #4f4d51;
	font-size: 14px;
}

.content_crear_cliente{
	text-align: center;
}

.content_crear_cliente .title{
	color: #050505;
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 20px;
}

.content_crear_cliente .subc{
	color: #999999;
	font-size: 18px;
	margin-bottom: 20px;
}

.btnClienteExito{
	background: #0336ff;
	color: #fff;
	font-weight: bold;
	font-size: 14px;
	border-radius: 4px;
	border: 1px solid #0336ff;
	height: 56px;
	text-transform: uppercase;
	width: 220px;
}

.rb-rapido{
	display: none;
}

.content_descuento{
	border-bottom: 1px solid #f0f0f0;
    padding: 20px;
    clear: both;
}

.codigo_descuento{
	border: 1px solid #ccc;
	height: 45px;
	padding: 10px;
	box-sizing: border-box;
	border-radius: 4px;
	width: calc(100% - 70px);
}

.btnCodigoDescuento{
	background: #0336ff;
    color: #fff;
    display: block;
    float: right;
    width: 55px;
    border-radius: 4px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.inputValidado{
	background: #f0f0f0 url(img/exito.png) no-repeat;
    background-position: 90%;
    background-size: 22px;
}

.circulo_descuento{
	width: 50px;
	height: 50px;
	background: #ef9500;
	border-radius: 100%;
	text-align: center;
	line-height: 50px;
	color: #fff;
	font-weight: bold;
	font-size: 14px;
}

.ajx_descuento{
	position: absolute;
	z-index: 9;
}

.colnav-res{
	display: none;
}

.search_xs{
	display: none;
}

.responsive_search{
	display: none;
	position: fixed;
	background: #fff;
	top: 0;
	left: 0;
	width: 100%;
	padding: 20px;
	z-index: 100001;
}

.responsive_search form{
	width: 100%;
	height: 100%;
}

.responsive_search form input{
	width: 100%;
	background: #eff2f7;
	border-radius: 6px;
	border: 1px solid #eff2f7;
	height: 100%;
	padding: 20px;
}

.bg_search{
	background: rgba(0,0,0, .4);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10000;
	display: none;
}

.btnCloseSearch{
	position: fixed;
    right: 35px;
    top: 42px;
    cursor: pointer;
}

.nav_resp{
	display: none;
	position: absolute;
	top: 109px;
	left: 0;
	z-index: 10001;
	background: #fff;
	width: 100%;
	max-width: 400px;
	border: 1px solid #f0f0f0;
	border-top: 0px;
	border-left: 0px;
}

.nav_resp .content_login_res{
	padding: 20px 15px 30px 15px;
	border-bottom: 1px solid #f0f0f0;
	display: none;
}

.nav_resp .content_login_res .title{
	font-size: 16px;
	color: #000;
	font-weight: 500;
	margin-bottom: 5px;
}

.nav_resp .content_login_res .subtitle{
	color: #999999;
	font-size: 14px;
}

.nav_resp .content_login_res .buttons{
	margin-top: 10px;
}

.nav_resp .content_login_res .buttons .btn{
	display: inline-block;
	margin-right: 15px;
	width: calc(50% - 15px);
	max-width: 200px;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	height: 50px;
	line-height: 50px;
	text-align: center;
	border-radius: 4px;
}

.nav_resp .content_login_res .buttons .btn:last-child{
	margin-right: 0;
}

.nav_resp .content_login_res .buttons .btn-login-xs{
	background: #0336ff;
	color: #fff;
}

.nav_resp .content_login_res .buttons .btn-registro-xs{
	border: 1px solid #0336ff;
	color: #0336ff;
}

.nav_resp .list-menu > li{
	list-style: none;
}

.nav_resp .list-menu .hazte-res{
	font-size: 14px;
	color: #0336ff;
	text-transform: uppercase;
	padding: 15px;
	display: block;
}

.nav_resp .list-menu .line_res{
	color: #333333;
	font-size: 14px;
	display: block;
	padding: 15px;
}

.nav_resp .list-menu .line_res:hover,
.ofertasnavres:hover{
	background: #f0f0f0;
}

.nav_resp .list-menu .line_res span{
	float: right;
    width: 40px;
    height: 45px;
    text-align: center;
    margin-top: -14px;
}

.nav_resp .list-menu .line_res span img{
	width: 11px;
    transform: rotate(270deg);
    margin-top: 18px;
}

.ofertasnavres{
	font-size: 14px;
	font-weight: bold;
	color: #0336ff;
	padding: 15px;
	display: block;
}

.nav_res_off{
	left: -100%;
}

.subres{
	position: absolute;
    top: 0px;
    left: -100%;
    width: 100%;
    height: 100%;
    background: #fff;
    transition: 300ms;
    overflow: auto;
}

.subres .content_action{
	background: #e2e2f9;
	overflow: hidden;
	padding: 15px;
}

.subres .content_action .volver{
	float: left;
}

.subres .content_action .volver span{
	float: left;
	font-size: 14px;
	color: #999999;
}

.subres .content_action .volver .spnot{
	margin-top: 4px;
}

.subres .content_action .volver .material-icons{
	font-size: 24px;
}

.subres .content_action .closenavres{
	float: right;
}

.subres .content_action .closenavres span{
	float: left;
	color: #999;
}

.subres .content_action .closenavres .spnot{
	font-size: 14px;
	margin-top: 2px;
}

.subres .content_action .closenavres .material-icons{
	font-size: 20px;
}

.subres .cat_res{
	color: #333333;
	font-size: 14px;
	display: block;
	padding: 15px;
}

.subres .cat_res:hover{
	background: #f0f0f0;
}

.subres .cat_res .btn-open-sub{
	float: right;
    width: 45px;
    height: 45px;
    text-align: center;
    margin-top: -15px;
    padding-top: 11px;
}

.subsubres{
	position: absolute;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	overflow: auto;
	background: #fff;
	transition: 300ms;
}

.subres_active{
	left: 0px;
}

.slider-sm,
.slider-xs{
	display: none!important;
}

.banner-inf_cel{
	display: none;
}

.content-order-xs .selected-order i{
	margin-left: 10px;
}

.active-order{
	background: #f4f1fa;
}

.arrow-filtro{
	opacity: 0;
}

.titulo-filtros-xs{
	display: none;
}

.bg-fil-res{
	display: none;
	background: rgba(0,0,0, .5);
	position: fixed;
	top:0;
	right:0;
	bottom:0;
	left:0; 
}

.open-fil-res{
	display: none;
}

.contenedor-filtros{
	display: block;
}

.disbloimp{
	display: block!important;
}
.disnone{
	display: none!important;
}

.name-desk{
	display: block;
}

.name-cel{
	display: none;
	margin-bottom: 20px;
}

.name-cel .stock{
	color: #666666;
	font-size: 14px;
}

.name-cel .nombre{
	font-size: 18px;
	font-weight: 500;
	color: #000;
}

.w100-tabs{
	width: 100%;
	background: #f5f5f5;
	overflow: auto;
}

.resumen-cel{
	display: none;
}

.block-cel{
	display: none;
}

.a-example{
	color: #999999;
	font-size: 14px;
	font-weight: 400;
	float: right;
	cursor: pointer;
}

.a-example span:first-child{
	float: left;
    margin-top: 2px;
    margin-right: 5px;
}

.a-example .material-icons{
	font-size: 18px;
    float: right;
}

.content-example{
	width: 400px;
	height: 170px;
	border: 1px solid #f0f0f0;
	padding: 20px;
	background: url(img/example.jpg) no-repeat;
	background-position: bottom;
	border-radius: 3px 3px 0px 0px;
	position: absolute;
	z-index: 1;
	box-shadow: 0px 8px 15px rgba(102,102,102,.35);
	right: 0;
	top: -80px;
	display: none;
}

.content-example .text{
	color: #666666;
	font-size: 14px;
	font-weight: 400;
	text-align: center;
}

.close-example{
	float: right;
    margin-top: -2px;
    margin-right: -10px;
    font-size: 18px!important;
    cursor: pointer;
}