@charset "UTF-8";
/* CSS Document 

BASE tienda
*/

@font-face {
    font-family: 'Rubik';
    src: url('fonts/Rubik-LightItalic.woff2') format('woff2'),
        url('fonts/Rubik-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Rubik';
    src: url('fonts/Rubik-Regular.woff2') format('woff2'),
        url('fonts/Rubik-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('fonts/Rubik-BoldItalic.woff2') format('woff2'),
        url('fonts/Rubik-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Rubik';
    src: url('fonts/Rubik-Bold.woff2') format('woff2'),
        url('fonts/Rubik-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('fonts/Rubik-Light.woff2') format('woff2'),
        url('fonts/Rubik-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('fonts/Rubik-MediumItalic.woff2') format('woff2'),
        url('fonts/Rubik-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Rubik';
    src: url('fonts/Rubik-Medium.woff2') format('woff2'),
        url('fonts/Rubik-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('fonts/Rubik-Italic.woff2') format('woff2'),
        url('fonts/Rubik-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Rubik';
    src: url('fonts/Rubik-Black.woff2') format('woff2'),
        url('fonts/Rubik-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('fonts/Rubik-BlackItalic.woff2') format('woff2'),
        url('fonts/Rubik-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

body{margin:0; font-family: 'Rubik', sans-serif; font-size:12px; font-weight: normal;}
strong{font-weight:700;}
a{color:#666; text-decoration:none;}
.cont100,
.ancho100{float:left; width:100%;}
.cont50,
.ancho50{float:left; width:50%;}
.ancho45{float:left; width:45%;}
.ancho20{float:left; width:20%;}
.ancho10{float:left; width:10%;}
.ancho50Centro{float:left; width:calc(50% - 20px); margin:0 10px;}
.ancho70{float:left; width:70%; margin:0 15%;}
.ancho25{float:left; width:25%; min-height:10px;}
.ancho33{float:left; width:33%; min-height:10px;}






.rojo{ color:#F00;}
.floatLeft{float:left;}
.floatRight{float:right;}
.bannerGrillas{ height:200px; background:#d1d2d2;}
.cont100Centro{float:left; width:96%; margin:0 2%;}
.contenedor_header,
.contenedor_footer{	width:96%;	margin:0 2%; margin:auto;}
.contenedor_footer p{float:left;}
.contenedor_footer .firma{float:right;}

h1.logo{width:180px; height:58px; margin:0; padding:0; }
h1.logo a{float:left; width:100%; height:50px; }
.buscador{ float:left; width:40%; background-color:#e2e2e2; margin-top:20px;}
.campo_buscador{float:left; width:calc(100% - 120px); padding-left:20px; border:solid 1px #ccc; height:40px;}
.campo_vacio{border:solid 1px red!important;}

.btn_search{float:left; width:96px; height:40px; text-align:center;}
.carro-header{float:right; width:calc(60% - 300px); margin-top:20px;}
.icono-header-right{float:right; text-align:right;}
.icono-header-right a{position: relative;}
.icono-header-right a i {font-size: 30px;}
.icono-header-right a .cantItems {
    position: absolute; z-index: 9; width: 18px; height: 18px; background: red; border-radius: 30px; -moz-border-radius: 30px; -webkit-border-radius: 30px; text-align: center; line-height: 20px; left: 24px; top: -20px; font-size:10px; color:#fff; }

.contMiCarro{float:right; text-align:right;}
.separador{float:right; margin:0 5px;}
.contMiCarro span{float:left; width:100%;}
.contCarroCompras{float:right;}

/* Estilos menu base */
.contMenu{float:left; width:96%; margin-top:20px; background:#e2e2e2; padding: 0 2%;}
.menu{ float:left; width:100%; margin:0; padding:0; list-style-type:none;}
.menu li{ float:left; margin:0; padding:0 10px; height:40px; list-style-type:none; line-height:40px; position:relative;}
.menu li:hover > ul.sub { display:block;}
.menu li ul{ width:200px; position:absolute; z-index:999; top:40px; background:#ccc; display:none; padding:0;} 
.menu li ul li{ width:calc(100% - 20px); float:left;} 
.menu li ul ul{ background-color: #000;} 
.menu li ul li:hover > ul.subSub { display:block;} 
.menu li ul ul{ width:200px; position:absolute; z-index:99; top:0px; left:200px; display:none;} 
/*
Fin Estilos menu base
*/

/*
Footer
*/
.finalFooter p{	float:left;}
.finalFooter a{	float:right; margin:15px 0 0 0;}
.menuFooter h4{float:left; width:100%; margin:15px 0 10px 0; font-size:18px;}
.menuFooter a{ display:block; padding:3px;}

/*
Breadcrumbs
*/
.breadcrumb{float:left;	width:100%;	list-style-type:none; padding:0; margin:10px 0;}
.breadcrumb li{float:left;	width:auto;	padding:0; margin:0;}
.breadcrumb li a{ float:left;}
.breadcrumb li a::after{ float:righ; content:" / "; margin-right:5px;}
.breadcrumb li.active{ color:#000;}
/*
Breadcrumbs
*/

/*
orden de grillas
*/
.filtros{float:right; width:20%; margin-left:10px;}
.contenedorFiltro{ float:left; width:100%; height:40px; position:relative}
.filtroActual{float:left; width:calc(100% - 32px); height:40px; border:solid 1px #ccc; padding:0 15px; line-height:40px;}
.contenedorFiltro ul{ position:absolute; width:calc(100% - 2px); border-left: solid 1px #ccc; border-right: solid 1px #ccc; list-style-type:none; top:40px; padding:0; margin:0; border-bottom:solid 1px #ccc; background:#fff; display:none;}
.contenedorFiltro ul li{ float:left; width:100%;}
.contenedorFiltro ul li.filtroSeleccionado{background-color: #ccc;}
.contenedorFiltro ul li a{ float:left; width:calc(100% - 20px); height:30px; line-height:30px; padding-left:20px;}
.contenedorFiltro:hover > ul{display:block;}
/*orden de grillas*/


/*Grillas*/
.grilla{float:left; width:calc(25% - 12px); padding:0; margin:0 5px 10px 5px; border:solid 1px #ccc; position: relative;}
.imgGrilla{ float:left; width:100%; height:100px;}
.nombreGrilla{ float:left; width:calc(100% - 20px); padding:0 10px;}
.valorGrilla{ float:left; width:calc(100% - 20px); padding:0 10px;}
.contGrillasProductos{ margin-top:20px;}
.valorGrilla span{float:left; margin-right:2px;}
.valorGrilla span.antes{color:#999; text-decoration:line-through;}

.grilla .imgFila{float:left; width:100%; height:100px; overflow:hidden;}
.grilla .imgFila a{float:left; width:100%;}
.grilla .contInfoShowCart{float:left; padding: 0 10px; width:calc(100% - 20px);}
.grilla .precioFila{float:left; width:100%;}
.grilla .etq-ultimas{ position: absolute; top: 0; left: 0; width: 100%; background: #ccc; text-align: center; }
.grilla .countdown{ position: absolute; top: 0; right: 0; border:1px solid #ccc; }
.ultimosVistos h4{font-size: 24px; font-weight:lighter; margin-bottom:10px;}
.ultimosVistos{ margin-bottom:40px;}
.grilla .img-cyber{ position: absolute; top: 10px; left: 10px; }

/*Paginador*/
.inactive{display:none;}
.paginador{text-align:right; margin:20px 0;}
.paginador a{ display:inline-block; height:42px; line-height:42px; width: 42px; text-align:center; background: #e5e5e5; border-radius: 6px; margin-left: 10px; font-size: 16px; color: #999999; font-weight: 500;}
.paginador a.current{ color:#fff; background: #1f55bc; }

/*Ficha*/
.infoProducto{float:left; width:calc(100% - 20px); margin-left:20px; margin-bottom:20px;}
.infoProducto h2{float:left; width:100%; margin:0 0 0 0; padding:0 0 0 0;}
.infoProducto .codigo{float:left; width:100%; margin:0 0 20px 0; padding:0 0 0 0;}
.infoProducto .precio-ficha{float:left; width:100%; margin:0 0 0px 0; padding:0 0 0 0;}
.infoProducto .precio-ficha .precioOfertaFicha{float:left; width:100%; margin:0 0 0 0; padding:0 0 0 0; font-size:24px;}
.infoProducto .precio-ficha .precioNormal{float:left; width:100%; margin:0 0 0 0; padding:0 0 0 0; color:#999;}
.cantidad{float:left; width:80px; margin-right:10px;}
.btnAgregar{float:left; width:150px; height:40px; border:solid 1px #ccc; line-height:40px; padding:0 20px;}
.filaAcciones{ margin-bottom:20px;}
.btn-lista-ficha{float:left; width:180px; height:40px; border:solid 1px #ccc; line-height:40px; padding:0 20px;}
.tit-descripcion{float:left; width:100%;}
.p-descrip{float:left; width:100%;}
.img-thumbnail{float:left; width:80px; border:solid 4px #fff;}
.img-thumbnail:hover{border:solid 4px #ccc;}

.contValoresFixed{ width:100%; position:fixed; top:0; border-bottom: solid 3px #ccc; background-color:rgba(255,255,255, .9); box-shadow: 0 0 5px #666; -moz-box-shadow: 0 0 5px #666; -webkit-box-shadow: 0 0 5px #666; z-index:-1; filter:alpha(opacity=00);
-moz-opacity:.00; opacity:.00; -webkit-transition: all .3s; -moz-transition: all .3s; -o-transition: all .3s; transition: all .3s;}
.fixedActivo{z-index:99; filter:alpha(opacity=99);-moz-opacity:.99;opacity:.99;}

.valoresFixed{height:80px;}
.contImgFixedFicha{float:left; width:70px; margin-top:5px; margin-right:10px; border: solid 1px #ccc;}
.infoFixedFicha{float:left; width:calc(100% - 82px); margin-top:15px;}
.infoFixedFicha span{float:left; width:100%; margin-bottom:5px;}
.infoFixedFicha span.codigo{color:#666;}

.btnAgregarFixed{float:right; margin-top:20px;}
.contPrecioFixed{ float:right; margin-right:20px; margin-top:20px; width:calc(100% - 212px); text-align:right;}
.contPrecioFixed p{margin:0;}
.contPrecioFixed span{ float:right; width:100%;}
.contPrecioFixed span.precioOfertaFicha{ font-size:24px;}
.contPrecioFixed span.precioNormal{color:#666;}

.contCambioPrecios{ float:left; width:calc(50% - 42px); border:solid 1px #ccc; padding:20px;}
.contCambioPrecios h2{ float:left; width:100%; margin:0 0 20px 0; padding:0; font-size:20px;}
.filaProductoPrecio{float:left; width:100%; margin-bottom:5px;}

/*Spinner*/
.ui-spinner{float:left; width:calc(100% - 2px); border:solid 1px #ccc;}
#spinner{float:left; width:80%; padding:0; margin:0; border:0; text-align:center; height:40px; line-height:40px;}
.ui-spinner-button{float:right; width:20%;} 




/*PopUp agregar al carro*/
.fondoPopUp {position: fixed;top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,.3); z-index: 9999;display: none;}
.contPop { position: absolute; width: 800px; height: 340px;background-color: #fff; top: 50%; margin-top: -170px; left: 50%; margin-left: -400px; padding: 20px;}
.cerrar {position: absolute; width: 21px; height: 21px; right: 10px; top: 10px; font-size:24px; }
.contPop h3 {float: left; width: 100%; margin: 0; padding: 0; color: #333; font-size: 18px;}
.contFilasArticulos { margin-top: 20px;}
.contImgFilaArticulo {float: left; width: 90px; border: solid 1px #999;}
.contDatosFilaArt {float: left; width: calc(100% - 108px); margin-left: 15px;}
.contDatosCompra { width: calc(100% - 20px); border-left: solid 1px #ccc; padding-left: 20px; margin-top: 20px;}
.cantArticulos {font-size: 18px; margin-bottom: 20px;}
.filaTotalesPopUp {margin-bottom: 15px;}
.valoresPopUp {text-align: right;}
.lineaAbajo {border-bottom: solid 1px #ccc; padding-bottom: 20px;}
.btnPopUpComprar {float: left; width: 49%; height: 53px; line-height: 49px; text-align: center; margin-top: 10px; color: #333;text-transform: uppercase; background-color: #cecece;}
.btnPopUpSeguirComprando {float: right; width: 49%; height: 53px; line-height: 49px; text-align: center; margin-top: 10px; color: #333; text-transform: uppercase; background-color: #fff; border: solid 1px #cecece;}
.valorAntFilaArticulo{color:#999;}
.valorAhoraFilaArticulo{font-size: 24px;}
.contDatosCompra{float:left;}


/* mi carro */
.filaPasos{text-align:center;}
.filaPasos a{ display:inline-block; width:80px; margin:0 10px; color:#999;}
.filaPasos a.activo{color:#333;}
.paso{float:left; width:100%; text-align:center; font-size:30px;}
.nomPaso{float:left; width:100%; text-align:center;}
.contCarro{float:left; width:calc(80% - 20px); margin-right:20px;}
.contFilasCarro{float:left; width:100%;}
.filaTitulos{ background-color:#ccc; height:30px; line-height:30px; margin-top:30px; margin-bottom:10px;}
#contFilasCarro{float:left; width:100%; border-bottom:solid 1px #ccc; margin-bottom:10px; padding-bottom:10px;}
.filaProductos{float:left; width:100%; margin-bottom:10px; padding-bottom:10px; border-bottom: solid 1px #ececec;}
.nombreFila{float:left; width:35%;}
.eliminarFila{float:right; width:20px;}
.eliminaShowCart{ float:right; width:100%; font-size:24px; color:#ccc;-webkit-transition: all .3s; -moz-transition: all .3s; -o-transition: all .3s; transition: all .3s;
}
.filaProductos .sin-stock{ float: left; width: 100%; text-align: center; background: #f00; color: #fff; }
.eliminaShowCart:hover{color:#333;}
.spinnerCarro{float:left; width:80%; border:solid 1px #ccc;}
.campoCantCarroResumen{ float:left; width:calc(100% - 22px); border:none; height:36px; line-height:36px; text-align:center;}
.contFlechas{float:right; width:15px; margin-right:5px;}
.contFlechas span{float:right; cursor:pointer;}
.carroVacio{float:left; width:100%;}
.carroVacio p{float:left; width:100%; margin:20px 0; font-size:24px; text-align:left;}

.contTotales{float:left; width:20%;}
.contTotales h4{float:left; width:100%; font-size:20px; margin:0;}
.contTotales h5{float:left; width:100%; font-size:14px; margin:0 0 20px 0;}
.valoresResumen{text-align:right;}
.filatoolTip{font-size:10px; color:#999; margin:10px 0;}
.btnCompletarCompra{float:left; width:100%; height:40px; line-height:40px; background-color:#a00000; text-align:center; color:#fff; margin-bottom:0px; -webkit-transition: all .3s; -moz-transition: all .3s; -o-transition: all .3s; transition: all .3s; }
.btnCompletarCompra:hover{background-color:#999;}
.btnAgregarMasProductos{float:left; width:100%; height:40px; line-height:40px; background-color:#ececec; text-align:center; color:#333; margin-bottom:10px; -webkit-transition: all .3s; -moz-transition: all .3s; -o-transition: all .3s; transition: all .3s; }
.btnAgregarMasProductos:hover{background-color:#999;}
.contInfoShowCart{float:left; width:40%;}
.contInfoShowCart .nombreFila{float:left; width:100%;}
.skuShowCart{float:left; width:100%; color:#999;}
.botoneraShowCart{float:left; width:100%; font-size:12px; margin-top:10px;}
.botoneraShowCart a{float:left; font-size:14px; color: #cccccc;}
.botoneraShowCart span{float:left; font-size:12px; margin:0 5px;}

#contProductosGuardados{float:left; width:100%;}
.mensajeGuardados{float:left; width:100%; border-bottom:solid 1px #ececec; font-size:14px; margin-top:20px; padding-bottom:10px; margin-bottom:20px;}
.tituloGuardados{float:left; width:100%; font-size:24px;}
.contCarroGuardado{float:left; width:calc(60% - 20px); padding-left:20px;}
.contCarroGuardado .nombreFila{float:left; width:100%; margin-top:20px;}
.precioFilaGuardado{text-align: right; font-size:18px;}
.botonesFilaGuardado{float:left; width:100%; font-size:12px;}
.botonesFilaGuardado span{float:left; margin:0 5px;}
.botonesFilaGuardado a{float:left; font-size:12px; width:auto;}
.breveDescripcion{float:left; width:100%; font-size:12px; color:#999;}

#contValoresResumen{float:left; width:calc(100% - 32px); border:solid 1px #ccc; background-color:#ececec; padding:15px; margin-bottom:20px;}
#contValoresResumen h3{float:left; width:100%; margin:0; font-weight:bold;}
#contValoresResumen h3 span{color:red;}
.totalFila,
.tituloTotal{text-align:right;}
.totalFila span,
.tituloTotal span{float:right; margin-right:10px;}

.contUltimosVistos{float:left; width:calc(100% - 32px); border:solid 1px #ccc; padding:15px; margin-top:20px;}
.filaProductosVistos{float:left; width:100%; margin-bottom:10px; padding-bottom:10px; border-bottom:solid 1px #ccc;}
.filaProductosVistos .imgFila {float:left; width:20%;}
.filaProductosVistos .contInfoShowCart{ float:left; width:calc(80% - 10px); padding-left:10px;}
.contUltimosVistos h4{float;left; width:100%; font-size:16px; margin-bottom:10px;}

.fixedCarro1{position:fixed; z-index:-1; bottom:0; width:100%; height:80px; background-color:rgba(255,255,255,.9); left:0; border-top:solid 3px #ccc; -webkit-transition: all .3s; -moz-transition: all .3s; -o-transition: all .3s; transition: all .3s; filter:alpha(opacity=00); -moz-opacity:.00; opacity:.00;}

.fixedActivoCarro1{z-index:99; filter:alpha(opacity=99); -moz-opacity:.99; opacity:.99;}

.fixedCarro1 .btnCompletarCompra{float:right; width:250px; margin-top:20px;}
.fixedCarro1 .valoresCarro1Fixed{ float: right; margin-right:20px; margin-top:20px; width:calc(100% - 270px); text-align:right; font-size:14px;}
.fixedCarro1 .valoresCarro1Fixed span{float:left; width:100%; text-align:right;}
.fixedCarro1 .valoresCarro1Fixed span.montoAPagarFixed{color: #F00;}




/*
Carro cotizacion
*/
.contCarroCotizacionFinal{float:left; width:calc(70% - 20px); margin-right:20px; }
.contTotalesCotizacion{float:left; width:calc(30% - 30px); background: #fafafa; padding: 15px;}
.textareaPasoFinal { float: left; width: calc(100% - 22px); border: solid 1px #999; background: #fff; height: 100px; margin-bottom: 14px; padding:10px;box-sizing: content-box!important;}



/*
Identificacion
*/
.cont50Identificacion{width:400px; display:inline-block; min-height:50px; margin:30px 10px 0;  }
.identificacionCentrado{text-align:center;}
.cont50Identificacion h3{text-align:left; margin:0; font-size:18px;}
.acceso1{ float:left; width:100%; text-align:center; color:#666; font-size:30px; text-transform:uppercase;margin: 20px 0 10px 0;}

.acceso2{ float:left; width:100%; text-align:center; color:#666; font-size:16px;}
.acceso3{float:left;width:calc(100% - 32px); padding:15px; margin-top:10px; border:solid 1px #ccc; min-height:180px;}
.acceso3 form{ float:left;width:100%;}
#emailRapido,
.campoGrande{float:left; width:calc(100% - 42px); padding:0 20px; border:solid 1px #666; background:#fff; height:50px; font-size:16px; margin-bottom:10px;}
.acceso3 a.btnFormCompraRapida{float:left;	color:#fff;	padding:0; background-color:#9b2534; width:70%; text-transform:uppercase; text-align:center; margin:10px 15% 0 15%; height:auto; line-height:40px; -webkit-transition: all .3s; -moz-transition: all .3s; -o-transition: all .3s; transition: all .3s;}
.acceso3 a.btnFormCompraRapida:hover{background-color:#6d1823;}

.linea{float:left; width:100%; border-bottom:solid 1px #ccc; margin:10px 0;}
.acceso3 a.btnRegistro{float:left;	color:#fff;	padding:0; background-color:#999; width:70%; text-transform:uppercase; text-align:center; margin:10px 15% 0 15%; height:auto; line-height:40px; -webkit-transition: all .3s; -moz-transition: all .3s; -o-transition: all .3s; transition: all .3s;}
.acceso3 a.btnRegistro:hover{background-color:#9b2534;}


/*loguin*/
.formularioLogin{float:left; width:100%;}
.formularioLogin .acceso3{border:none;}
.btnFormRegistro{ display:inline-block; width:300px; color:#fff; padding:0; background-color:#9b2534; text-transform:uppercase; text-align:center; margin:10px 15% 0 15%; height:auto; line-height:40px; -webkit-transition: all .3s; -moz-transition: all .3s; -o-transition: all .3s; transition: all .3s;}
.btnFormRegistro:hover{background-color:#6d1823;}
.acceso3 a.btnRecuperarClave{float:right; width:auto; height:auto; padding:0; margin:0; color:#666; background:transparent;}


/*Newsletter*/
#formNewsletter{float:left; width:100%;}
#btnNewsletter{float:left; width:100%; background:#666; color:#fff; text-align:center; height:30px; line-height:30px;-webkit-transition: all .3s; -moz-transition: all .3s; -o-transition: all .3s; transition: all .3s;}
#btnNewsletter:hover{background:#333;}


/* Mi cuenta*/
.menuMiCuenta{float:left; width:calc(20% - 22px); margin-right:20px; border:solid 1px #ccc; border-bottom:none;}
.menuMiCuenta a{float:left; width:calc(100% - 20px); padding:15px 10px; border-bottom:solid 1px #ccc;-webkit-transition: all .3s;
-moz-transition: all .3s; -o-transition: all .3s; transition: all .3s;}
.menuMiCuenta a:hover{ background-color:#999; color:#333;}
.menuMiCuenta a.current{ background-color:#999; color:#333;}
.contenidoMiCuenta{float:left; width:80%; min-height:100px;}


/*
Carro envio y pago
*/
.contDatosCarro{float: left; width:66.6%;}
.colForm1 { float: left; padding:15px; width: calc(49% - 42px); position: relative; border:solid 1px #2a2a2a; margin:0 5px;}
.tituloColumnas {width: 100%; text-align: left; margin-top: 0; margin-bottom: 10px; font-weight:300; font-size:18px; text-transform:uppercase;}

.contCarroPaso3{float: right; width:33.3%}
.col2 {float: left; width: calc(100% - 45px); margin-left: 15px; background:#fafafa; padding:15px;}
#contDatosCompra{float:left; width:100%; margin-top:15px; /*position:relative;*/}
.contFondoGris label {float: left; width: 100%; font-size: 12px; margin-bottom: 4px;}
.contCartCompraRapida{float:left; width:100%;}
.filaResumen{float:left; width:100%; margin-bottom:5px; padding-bottom:5px; border-bottom:solid 1px #ccc;}
.campoPasoFinal { float: left; width: calc(100% - 22px); border: solid 1px #999; background: #fff; height: 31px; margin-bottom: 14px; padding: 0 10px;box-sizing: content-box!important;}
a.imgThumbsCartHeader{ width:20%; float:left;}
.datosProductoCart3{float:left; width:calc(80% - 15px); padding-left:15px;}
.tituloProductoResumen,
.cantResumen, 
.valorFilaHeader{float:left; width:100%;}
.codigoOK{position: absolute; z-index:99; top:30px; right:10px; width:20px; height:20px;}
.filaValor{float:left; width:100%; margin-bottom:5px;}
.valores{float:left; width:100%; margin-top:20px;}
.montoValor{float:right; width:40%; text-align:right;}
.nombreValor{float:right; width:40%; text-align:right;}

.datosFinalizacionPago{float:left; width:100%;}
.datosFinalizacionPago h3{float:left; width:100%; padding:0; margin:0 0 10px 0; font-size:14px;}

.comentarios-envio{float:left; width:calc(100% - 32px); border:solid 1px #666; padding:15px;}
.selector { margin-bottom:15px;}
#contDatosCartVariables{float:left; width:100%}
.imagenMedioPago{float:left; width:calc(100% - 40px);}
.formasDePago{float:left; width:100%; padding-top:10px; border-top:solid 1px #666;}
.txtTerminosAcepto .checker{float:left;}
.txtTerminosAcepto {float: right; width: 330px; font-size: 14px; color: #666; margin-top: 10px; text-align: right;}
.txtTerminosAcepto a { width: auto; float: left; height: auto; text-align: left; padding: 0; border-radius: 0;}
.mensajeCaluga {float: left; font-size: 12px; width:100%;}
.mensajeCaluga i{float: left; font-size: 12px; width:30px; font-size:24px; color:red;}
.mensajeCaluga span{float:left; width:calc(100% - 30px);}
.incompleto{border: solid 1px #F00!important;}
.contCampos { float: left; width: 100%; position: relative;}

.campoFantasma { position: absolute; z-index: 9; top: 21px; background: #fff;  width: calc(100% - 22px); border: solid 1px #b7b7b7; border-radius: 4px;  -moz-border-radius: 4px;  -webkit-border-radius: 4px; background: #fff; height: 31px; padding: 0 10px; line-height: 31px; font-size: 12px; display: none; border: none; left: 1px;}
.contCampos label{height: 15px;}
.direccionesGuardadas{float:left; width: 100%; border-bottom:solid 1px #000; margin-bottom:15px;}
.masDir{float:right; color:#F00;}

.contFactura {float: left; width: calc(100% - 50px); margin-top: 10px; background: #f7f7f7; padding: 0 15px 15px 15px; position: relative; margin-right:5px; margin-left:5px;}
.contFactura h2{float:left; width:100%; margin:20px 0 0px 0; font-weight:300; font-size:18px; text-transform:uppercase;}
.contDatosFactura{float: left; width: calc(100% - 50px); margin-top: 10px; background: #f7f7f7; padding: 15px; position: relative; margin-right:5px; margin-left:5px; font-size: 12px; display: none;}
.contDatosFactura label { text-transform: uppercase; float: left; width: 100%; margin-bottom: 4px; }


.inicioSesionCarroPopUp h3{float:left; width:100%; margin:0 0 10px 0; padding:0;}
#formLoginCompraRapida{float:left; width:100%;}
#formLoginCompraRapida a{float:left; width:50%; height:31px; line-height:31px; text-align:center; background:#ccc; -webkit-transition: all .3s; -moz-transition: all .3s; -o-transition: all .3s; transition: all .3s;}
#formLoginCompraRapida a:hover{ background-color:#333;}

.contRadioDireccion{float:left; width:30px;}
.contNombreSucursal{float:left; width:calc(100% - 40px);}
.contNombreSucursal span{float:left; width:100%; color:#666;}
.contNombreSucursal span.nombreSucursal{font-size: 14px; font-weight:bold; margin-bottom:2px;}
.filaSucursalCarro{ margin-bottom:10px;}

.fancybox-slide--iframe .fancybox-content {width  : 800px; height : 600px; max-width  : 80%; max-height : 80%; margin: 0;}


.contBotoneraEnvioYPago{ float:left; width:96%; padding:0 2% 20px 2%; display:none;}
.contBotoneraEnvioYPago a{ float:left; width:calc(33% - 4px); border-left:solid 2px #fff; border-right:solid 1px #fff; text-align:center; height:40px; line-height:40px; text-align:center; background:#ccc;}
.contBotoneraEnvioYPago a.activo{background-color:red; color:#fff;}




/*Estáticas*/
.contTextosFijos{float:left; width:80%; margin-left:10%;}
.contTextosFijos h4{float:left; width:100%; font-size:18px; margin:30px 0 10px 0;}
.contTextosFijos p{float:left; width:100%; font-size:14px; margin:0px 0 10px 0;}



/*Exito*/
.titulos_interiores{float:left; width:100%; text-align:center;font-size:30px;}
.top-identificacion{float:left; width:100%; text-align:center; font-size:18px; color:#666; margin-bottom:20px;}
.contBotonesCarro{text-align:center; margin-top:20px; margin-bottom:20px;}
.contBotonesCarro a{ display:inline-block; height:30px; line-height:30px; padding:0 40px; background:#ccc; margin:0 10px; -webkit-transition: all .3s; -moz-transition: all .3s; -o-transition: all .3s; transition: all .3s;}
.contBotonesCarro a:hover{background:#999;}
.infoClienteExito{ margin-top:20px;}
.t-paso4{float:left; width:100%; font-size:16px; margin-bottom:10px;}
.t2-paso4{float:left; margin-right:10px; margin-left:10px;}
.dato-paso4{float:left; color:#666;}
.infoClienteExito{ margin-bottom:30px;}
.infoClienteExito .cont100{ margin-bottom:5px;}
.contInfoPago{margin-top:30px;}
.btnTerminos{float:left; height:40px; padding:0 20px; background-color:#666; color:#fff; line-height:40px;-webkit-transition: all .3s;
-moz-transition: all .3s; -o-transition: all .3s; transition: all .3s;}
.btnTerminos:hover{background-color:#333;}

.resumenProductos{ margin:50px 0;}
.resumenProductos h2{ float:left; width:100%; margin:0 0 20px 0; font-size:24px;}
.contTotalesExito{float:left; width:calc(20% - 32px); border: solid 1px #ccc;margin-top:78px; padding:15px;}
.filaValoresExito{float:left; width:100%; margin-bottom:10px; border-bottom:solid 1px #ccc; padding-bottom:5px; }
.filaValoresExito span{float:right; color:#666; float:left;}
.filaValoresExito span.valorValor{ color:#333; margin-left:20px; float:right}
a.btnCuentaExito{background-color: #F00; color:#fff;}


.contBtnFracaso{text-align:center;}
.contBtnFracaso a{text-align:center; display:inline-block; height:30px; line-height:30px; padding:0 30px; background:#ccc;-webkit-transition: all .3s; -moz-transition: all .3s; -o-transition: all .3s; transition: all .3s; margin:0 10px;}
.contBtnFracaso a:hover{background:#000;}
.cantFila span{ float:left;}

/*
Mi cuenta
*/
.datosCliente h3{text-align:left;}
.datosCliente form{float:left; width:100%;}
.datosCliente .cont50Identificacion{width:50%;}
.cont50Form{float:left; width:calc(50% - 20px); padding:0 10px;}
.direcciones{text-align:left;}
.contDirecciones{border: solid 1px #ccc; padding:20px; margin:10px; width:calc(33% - 62px); float:left; min-height:50px;}
.iconosDirecciones a{float: right; margin-left:10px; margin-top:-10px; font-size:14px; font-weight:lighter; color:#999; -webkit-transition: all .3s; -moz-transition: all .3s; -o-transition: all .3s; transition: all .3s;}
.iconosDirecciones a:hover{color:#333;}
.nombreDireccion{text-transform: uppercase; margin-bottom:5px; float:left;}
.nuevaDireccion{float:right; font-size:14px; height:31px; padding:0 20px; background-color:#CCC; line-height:31px; -webkit-transition: all .3s; -moz-transition: all .3s; -o-transition: all .3s; transition: all .3s;}
.nuevaDireccion:hover{ background-color:#333;}
.contNuevaDireccion{ width:600px; box-sizing: content-box!important;}
.guardarDireccion{ height:31px; padding:0 40px; background:#ccc; color:#666; line-height:31px; float:left; margin-left:10px; text-transform:uppercase; -webkit-transition: all .3s; -moz-transition: all .3s; -o-transition: all .3s; transition: all .3s;}
.guardarDireccion:hover{background:#333;}

/*
404
*/
.error{	float:left; width:100%; font-size:40px;}
.error span{ font-size:180px;float:left; width:100%; margin-top:-40px;}
.error2{float:left; width:100%; font-size:30px; margin-top:-30px; color:#666;}
.icon404 i{font-size:360px; color:#999; margin-top:40px;}
.icon404{text-align:center;}


/*
Mis pedidos
*/
.detallePedido{border:solid 1px #ccc; margin-bottom:10px; padding:15px; width:calc(100% - 32px); text-align:left; float:left; color:#666;}
.encabezado{float: left; width:100%; border-bottom:solid 1px #ccc; margin-bottom:20px; min-height:40px;}
.tituloPedidoGuardado{float:left; width:100%; margin:0 0 20px 0; font-size:20px;}
.thumbsProducto{float:left; width:150px; margin-right:20px; min-height:30px;}
.infoProdDetalle{float:left; width:calc(100% - 170px);}
.infoProdDetalle spaN{float:left; width:100%; margin-bottom:5px;}
.ancho70Pedido{float:left; width:70%;}
.btnComprarAhora{float: left; padding:0 15px; height:30px; line-height:30px; color:#fff; background-color:#666;-webkit-transition: all .3s; -moz-transition: all .3s; -o-transition: all .3s; transition: all .3s;}
.btnComprarAhora:hover{background-color:#333;}

.btnPedidos{float:left; width:100%; height:30px; margin-bottom:10px; line-height:30px; text-align:center; background:#999; color:#fff;-webkit-transition: all .3s; -moz-transition: all .3s; -o-transition: all .3s; transition: all .3s;}
.btnPedidos:hover{background-color:#333;}
.contBotones{float:right; width:30%;}
.filaProductoComprado{ margin-bottom:20px;}
.btnDetalles{color:red;}
.contDatosPago{margin:0 0 20px 0; border-bottom:solid 1px #ccc; padding-bottom:30px;}
.nvalor{color: #333;}
.textAlignRight{text-align:right;}
.totalDetallePedido{color:#000;}
.contenidoMiCuenta .mensajeGuardados,
.contenidoMiCuenta .tituloGuardados{display:none;}
.contenidoMiCuenta .contCarroGuardado{ text-align:left;}



/* Loading */
.cont_loading{ position:fixed; z-index:10001; top:0; left:0; width:100%; height:100%; background-color:rgba(255,255,255,.8); display:none;}
.lds-dual-ring {  display: inline-block; width: 64px; height: 64px; margin-left:-32px; left:50%; top:50%; margin-top:-32px; position:absolute; z-index:9;}
.lds-dual-ring:after {content: " "; display: block; width: 46px; height: 46px; margin: 1px; border-radius: 50%; border: 5px solid #000; border-color: #000 transparent #000 transparent; animation: lds-dual-ring 1.2s linear infinite;}
@keyframes lds-dual-ring {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}


/*heredados*/
*{outline: none;}

/*	ESTILOS CARRO HEADER*/
.resumenCarroHeader{position:absolute;z-index:200;top:0;right:0; width:360px;	padding:15px; background:#fff; box-shadow:0 0 4px #ccc; display:none;}
.headCarroResumen{	padding:10px 0;	border-bottom:solid 1px #ccc;}
.headCarroResumen a{float:left;}
.headCarroResumen a.cerrarMenuCart{float:right;}
.filasProdCart{	padding:10px 0;	border-bottom:solid 1px #ccc;}
.datosProdHeader{float:left; width:50%;}
.datosProdHeader a{	float:left;	width:100%;	text-transform:uppercase; margin-bottom:10px; font-size:14px;}
.qtyHeader{float:left;	width:10%; margin-left:5%;}
.qtyHeader a{width:80%; border:solid 1px #ccc; text-align:center;color:#666;}
.quitarCarro{float:right; background:#f1f1f1; border-radius:100px; -moz-border-radius:100px; -webkit-border-radius:100px; color:#666;}
.totalesCartHeader{padding:10px 0; border-bottom:solid 1px #ccc; font-size:14px; text-align:right; margin-bottom:10px; }
.totalesCartHeader span{font-family: 'latoregular';}
.btnComprarHeader{float:right; text-transform:uppercase; padding:15px 40px; color:#fff; background:#9b2534; font-size:14px;}
/*	FIN ESTILOS CARRO HEADER*/


/*ESTILOS VALIDACIONES CARRO*/
.contenedorPasos{float:left; width:90%; margin:20px 0 0 5%;}
.col1 {float: left; width: 70%;}
.contFondoGris { float: left; width: calc(100% - 44px); background: #fff; padding: 15px 22px;}
#modificarDatos, #modificarDatos2 { position: absolute;  z-index: 99; right: 5px; top: 37px; width: 20px; height: 20px; background: #f7f7f7;}
.acceso3 a { width: 228px; height: 32px; float: left;text-align: center; background: #544f92; display: inline-block; color: #fff; text-decoration: none; padding-top: 10px; border-radius: 4px;}
.tipoBlanco {color: #fff;}
.colForm2 {float: right;}
.selectorTabs { float: left; width: 100%; margin-bottom: 10px; padding-bottom: 10px; border-bottom: solid 1px #fff;}
.direccionDespachoTabs { float: left;}
.tituloTabsDirecciones {float: left; color: #666; font-size: 9px; margin-right: 10px; margin-top: 4px; text-transform: uppercase;}
.tabsCompraRapida {float: left; width: 100%; }
.direccionDespacho {float: left; width: 100%; margin-top: 15px; border-bottom: solid 1px #fff; padding-bottom: 10px;}
#tabsCompra1 {display: none;}
.mensajeCalugaDireccion { background: none; padding-left: 0; width: 100%;}
.opcionFactura {float: left; width: 100%; margin-top: 20px; font-size: 12px; text-transform: uppercase; margin-bottom: 20px;}
.tituloRadio {float: left; margin-right: 20px; margin-top: 5px; margin-left: 4px;}
.mensajeFactura {float: left; width: 100%;text-align: left; color: #544f92;}
.relativo { position: relative;}
.form100 {float: left; width: 100%;}
.form50Derecha {float: left; width: 48%; margin-left: 4%;}
.contResumenCompra {float: left; width: 100%; border-top: solid 1px #b7b7b7;}

.compraYAceptaTerminos {position: fixed; width: 96%; border-top: solid 1px #ccc; padding: 10px 2% 20px 2%; background-color:rgba(255,255,255,.9); z-index:9999; left:0; bottom:0;}

.btnTerminarCarro { float: right; width: 200px; margin-top: 10px; cursor: pointer; height: 40px; line-height:40px; text-align: center; background:red;-webkit-transition: all .3s; -moz-transition: all .3s; -o-transition: all .3s; transition: all .3s; text-transform:uppercase; letter-spacing:1px; color:#fff; clear:right;}

.btnTerminarCarro:hover {background:#333;}
a.desabilitado {background: #999!important;}
.contImgTranbank { float: left; width: 100%; text-align: right; margin-top: 10px;}
.contPasosValidacion{float:left;	width:100%;}
#uniform-hbt1, #uniform-hbt2, #uniform-hbt3 {float: left;}
.radio{float:left;}
.col2 .tituloColumnas{ margin-left:0; padding-left:0; margin-top:0; padding-top:0;}
.contCamposRetiro{ float: left; width: 100%; margin-top: 20px;}
.contCamposRetiro h3{float: left; width: 100%;}

.countdown{ float: right; border: 1px solid #ccc; padding: 5px 10px; }
.preciocant{ float: left; width: 100%; padding: 5px; }
.preciocant span{ background: #f00; color: #fff; padding: 5px; margin-left: 10px;}

.galeria .imgPrincipal{ position: relative; }
.galeria .imgPrincipal .img-cyber{ position: absolute; top: 10px; left: 10px; }

.bg-popup{
	background: rgba(0,0,0,.2);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	display: none;
}
.popup-news{
	background: #98b8c0;
	width: 90%;
	max-width: 500px;
	position: fixed;
	z-index: 1000;
	/*height: 400px;*/
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 20px;
	box-sizing: border-box;
	display: none;
}
.popup-news > .contenido{
	width: 100%;
	height: 100%;
	border: 1px solid #fff;
	box-sizing: border-box;
	padding: 15px;
}
.popup-news .contenido > .close{
	width: 20px;
	height: 20px;
	background: url(img/close.png) no-repeat;
	background-size: contain;
	float: right;
	margin-bottom: 10px;
	cursor: pointer;
}
.popup-news .contenido > p{
	color: #fff;
    font-size: 17px;
    text-align: center;
}
.datos{
	width: 100%;
	text-align: center;
}
.datos > input{
	width: 85%;
	height: 30px;
	margin-bottom: 10px;
	text-align: center;
    font-size: 18px;
    font-weight: lighter;
    color: #98b8c0;
    border: 1px solid #98b8c0;
}
.datos > input::placeholder{
	color: #98b8c0;
}
.datos > a{
	color: #fff;
    font-size: 17px;
    text-decoration: underline;
}
.datos > img{
	width: 34px;
    display: block;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}
.slider, .slide{
	float: left;
	width: 100%;
}




.movil, .tablet{ display: none; }
.desktop{ display: block; }

/* TABLET */
@media only screen and ( min-width:720px ) and (max-width:1060px){
	.desktop, .movil{ display: none; }
	.tablet{ display: block; }
}

/* SMARTPHONE */
@media only screen and ( min-width:320px ) and (max-width:719px){
	.desktop, .tablet{ display: none; }
	.movil{ display: block; }
}



/*Para responsive*/
.movil{display: none;}
.iconoBuscador{display: none; width: 40px; height:40px; float:left; font-size:32px; text-align:center; line-height:32px;}
.contBtnMenuResponsive{display: none; width: 40px; height:40px; float:right;}
.abrirFooter{ display:none; float: right; color:#fff;}
.hamburger {min-height: 30px; max-width: 50px; cursor:pointer;}

.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before { background-color: red; position: absolute; width: 40px; height: 4px; border-radius: 5px; content: ''; transition-timing-function: ease; transition-duration: .2s; transition-property: opacity,-webkit-transform; transition-property: transform,opacity; transition-property: transform,opacity,-webkit-transform;}
.hamburger-inner:before {top: 10px;}
.hamburger-inner:after { top: 20px;}
.hamburger.open .hamburger-inner { -webkit-transform: translate3d(0,10px,0) rotate(45deg); transform: translate3d(0,10px,0) rotate(45deg); background-color:#333;}
.hamburger.open .hamburger-inner:after { -webkit-transform: translate3d(0,-20px,0) rotate(-90deg); transform: translate3d(0,-20px,0) rotate(-90deg); background-color:#333;}
.hamburger.open .hamburger-inner:before { -webkit-transform: translate3d(0,-20px,0) rotate(90deg); transform: translate3d(0,-20px,0) rotate(90deg); opacity: 0; }

.fixedResponsive{display:none;}
.unidadMovil{display:none;}
.botoneraMovil{display: none;}
.contBotonesIdentificacionResponsive{display:none; float:left; width:94%; margin:10px 3%;}
.contBotonesIdentificacionResponsive a{ float:left; width:calc(50% - 2px); border-left:solid 1px #fff; border-right:solid 1px #fff; height:40px; line-height:40px; text-transform:uppercase; background:#ccc; color:#fff; letter-spacing:1px;-webkit-transition: all .3s; -moz-transition: all .3s; -o-transition: all .3s; transition: all .3s;}
.contBotonesIdentificacionResponsive a:hover{ background-color:#666;}
.contBotonesIdentificacionResponsive a.active{ background-color:#666;}