@charset "UTF-8";

.total-por-anio{
    width: 24%;
    float: left;
    margin-top: 0px;
    margin-bottom: 90px;
    background: #FAFAFA !important;
    box-sizing: border-box;
    border: 1px solid #E6E6E6;
    padding: 10px;
}
.total-por-anio h1{
    font-size: 18px;
    overflow: hidden;
    margin-top: 15px;
    margin-bottom: 0;font-weight: lighter;
}

.total-por-anio h2{
    font-size: 14px;
    margin-bottom: 15px;
    margin-top: 0; font-weight: lighter;
}

.total-por-anio p{
    margin: 0 0 0 5px;
}

.box{
    margin-bottom: 10px;
	float:left;
	width:100%;
}
.number{
    color: #1777B6;font-family: 'HelveticaLTStd-Bold';
    font-size: 17px;
    text-align: left;
}
.totales{
  color: #848484 !important;
}
#error{
    width: 100%;
    text-align: center;
    background: red;
    padding: 5px 15px;
    color: #fff;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}

.slideInDown {
  animation-name: slideInDown;
}

.separator{
  width: 100%;
  height: 1px;
  background: #E6E6E6;
  border-bottom: 1px solid #fff;
  float: right;
  margin-bottom:20px;
}
.activado{
  background: black;
}

@keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}
.contenedor {
	width: 100%;
	margin:auto;
}
h2.tituloReporte{
	float: left;
    width: 100%;
    padding: 0;
    font-size: 34px;
    margin: 0 0 20px 0;
    font-family: 'HelveticaLTStd-Light';
    color: #000;
}

.selectores{
	float:left;
	width:100%;
	margin-top:90px;
}

.div-g{
    width: 73%;
    float: right;
    margin-top: 0px;
    margin-bottom: 40px;
}
.curso{
	float:left;
	width:300px;
}
.grafico{
	float:left;
	width:50%;
}
#graficar{
	float: left;
    height: 50px;
    width: 130px;
    border: none;
    background: #09F;
    border-radius: 10px;
    color: #fff;
    font-family: 'CabinRegular';
    font-size: 24px;
    cursor: pointer;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    margin: 20px 0 0 45%;
}
#graficar:hover{
	background:#03F;
}
.representacion{
    width: 50%;
    float: right;
}

.totales-menu{
  width: 20%;
  float: left;
  margin-top: 0px;
}
.totales-menu h3{
  text-align: center;
  margin-bottom: 0px;
}

.totales-menu ul{
  list-style: none;
  -webkit-padding-start: 0px;
}

.nav-totales{
  background: #1777B6;
  display: block;
  padding: 10px;
  color: #fff;
  cursor: pointer;
  border-bottom: 1px solid #0274c1;
}
.nav-totales > i{
  float: right;
  margin-top: -3px;
  color: #fff;
}

.child{
  margin-top: 10px;
  background: #000 !important;
  -webkit-padding-start: 0px;
  display: none;
}
.child > li{
  display: block;
  padding: 8px 10px;
  background: #0062a3 !important;
  cursor: auto !important;
  border-bottom: 1px solid #004c7e;
  border-top: 1px solid #0266a9;
  font-size: 12px;
  color: #fff;
}
.child > li > p{
  float: right;
  margin-top: 0;
  color:#fff;
}

.flecha{
  position: absolute;
  top: 5px;
  left: 5px;
  cursor: pointer;
}
.flecha a{
  color: #666
}
.flecha i:hover{
  color: #09F;
}
.colum{
  width: calc(50% - 2px);
  float: left;
  border-right: 2px solid #E6E6E6;
  height: 60px;
}
.porcentaje{
  /*
height: 48px;
  line-height: 66px;
*/
}
#porc{
  float: left;
  font-size: 12px;
  margin-right: 0%;
  color:#fff;
  padding:3px 0;
}
#anio{
  float: left;
  font-size: 12px;
  margin-left: 5px;
  color:#fff;
  padding:3px 0;
}
.clearfix{
  clear: both;
}
.contenedor i{
	margin:0;
}