@charset "UTF-8";
body{
	width:100%;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	margin:0;
	padding:0;
}
.contenedor{
	float:left;
	width:96%;
	margin-left:2%;
}
.h2 {
	float:left;
	width:100%;
	color:#666;
}
.columnasDatos{
	float:left;
	width:19%;
	margin-right:2%;
	min-height:300px;
}
.graficos{
	width:78%;
	float:left;
}
.grillaDatos{
	float:left;
	width:calc(100% - 2px);
	border:solid 1px #1682CA;
	margin-bottom:20px;
}
.grillaDatos h4{
	float:left;
	width:calc(100% - 30px);
	margin:0 0 0 0;
	font-size:18px;
	background:#1682CA;
	color:#fff;
	height:35px;
	padding:0 15px;
	line-height:35px;
	font-weight:lighter;
}
.grillaDatos h5{
	float:left;
	width:100%;
	margin:10px 0;
	font-size:18px;
	color:#999;
	text-align:center;
}