/*Template Name:BucketAdmin Dashboard build with Bootstrap v3.0.3Template Version:1.0Author:ThemeBucket*/
/* Import fonts */

ul, .list-unstyled {
    padding-left: 30px;
}
ul li {
    /*list-style:none;*/
}

a,a:hover,a:focus {
    text-decoration:none;
    outline:none;
}
::selection {
    background:#10B2CC;
    color:#fff;
}
::-moz-selection {
    background:#10B2CC;
    color:#fff;
}
#container {
    width:100%;
    height:100%;
    -webkit-transition:all .3s ease-in-out;
    -moz-transition:all .3s ease-in-out;
    -o-transition:all .3s ease-in-out;
    transition: all .3s ease-in-out;
}


/*sidebar navigation*/
#sidebar {width:234px; height:100%;  position:fixed; background:#363636;  -webkit-transition:all .3s ease-in-out; -moz-transition:all .3s ease-in-out;  -o-transition:all .3s ease-in-out; transition:all .3s ease-in-out; z-index: 2;}
#sidebar ul li {position: relative;}

.leftside-navigation,.right-stat-bar{
    height: 100%;
}

.right-stat-bar ul {
    list-style-type: none;
    padding-left: 0;
}
/*LEFT NAVIGATION ICON*/
.dcjq-icon {
    height:17px;
    width:17px;
    display:inline-block;
    background:url(../pics/nav-expand.png) no-repeat top;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    position:absolute;
    right:10px;
	top:16px;
}
.active .dcjq-icon {
    background:url(../pics/nav-expand.png) no-repeat bottom;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
}
.right-side-accordion .dcjq-icon {
    height:17px;
    width:17px;
    display:inline-block;
    background:url(../images/acc-expand.png) no-repeat top;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    position:absolute;
    right:10px;
}
.right-side-accordion .active .dcjq-icon {
    background:url(../images/acc-expand.png) no-repeat bottom;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius: 3px;
}

.right-side-accordion li:nth-child(2) ul li .prog-row {
    border: none;
}
/*---*/
.nav-collapse.collapse {
    display:inline;
}

.activo{background-color:#28282e!important;}
ul.sidebar-menu,ul.sidebar-menu li ul.sub {
    margin:-2px 0 0;
    padding:0;
}
ul.sidebar-menu {
    padding-top:85px;
	padding-bottom:60px;

}
#sidebar>ul>li>ul.sub {
    display:none;
}
#sidebar .sub-menu>.sub li a {
    padding-left:46px;
}
#sidebar>ul>li.active>ul.sub,#sidebar>ul>li>ul.sub>li>a {
    display:block;
}
ul.sidebar-menu li ul.sub li {
    background:#28282e;
    margin-bottom:0;
    margin-left:0;
    margin-right:0;
}
ul.sidebar-menu li ul.sub li a {
    font-size:10px;
    padding-top:5px;
    padding-bottom:5px;
	padding-left:45px;
    -webkit-transition:all 0.3s ease;
    -moz-transition:all 0.3s ease;
    -o-transition:all 0.3s ease;
    -ms-transition:all 0.3s ease;
    transition:all 0.3s ease;
    color:#aeb2b7;
}
ul.sidebar-menu li ul.sub li a:hover,ul.sidebar-menu li ul.sub li.active a {
    color:#1fb5ad;
    -webkit-transition:all 0.3s ease;
    -moz-transition:all 0.3s ease;
    -o-transition:all 0.3s ease;
    -ms-transition:all 0.3s ease;
    transition:all 0.3s ease;
    display:block;
    background:#202025;
}
ul.sidebar-menu li {
    border-bottom:1px solid rgba(255,255,255,0.05);
}
ul.sidebar-menu li.sub-menu {
    line-height:15px;
}
ul.sidebar-menu ul.sub li {
    border-bottom:none;
}
ul.sidebar-menu li a span {
    display:inline-block;
}
ul.sidebar-menu li a {
    color:#aeb2b7;
    text-decoration:none;
    display:block;
    padding:5px 0 5px 10px;
    font-size:12px;
    outline:none;
    -webkit-transition:all 0.3s ease;
    -moz-transition:all 0.3s ease;
    -o-transition:all 0.3s ease;
    -ms-transition:all 0.3s ease;
    transition:all 0.3s ease;
}
ul.sidebar-menu li a.active,ul.sidebar-menu li a:hover,ul.sidebar-menu li a:focus {
    background:#28282e;
    color:#1FB5AD;
    display:block;
    -webkit-transition:all 0.3s ease;
    -moz-transition:all 0.3s ease;
    -o-transition:all 0.3s ease;
    -ms-transition:all 0.3s ease;
    transition:all 0.3s ease;
}
ul.sidebar-menu li a i {
    font-size:15px;
    padding-right:6px; color: #fff;
}
ul.sidebar-menu li a:hover i,ul.sidebar-menu li a:focus i {
    color:#1fb5ad;
}
ul.sidebar-menu li a.active i {
    color:#1fb5ad;
}
.mail-info,.mail-info:hover {
    margin:-3px 6px 0 0;
    font-size: 11px;
}




/*notification*/
#top_menu .nav>li,ul.top-menu>li {
    float:left;
}
.notify-row {
    float:left;
    margin-top:23px;
    margin-left:25px;
}
ul.top-menu {
    margin-right:15px;
    margin-top: 0;
}
ul.top-menu > li > a {
    color:#666666;
    font-size:16px;
    background:#f6f6f6;
    padding:4px 8px;
    margin-right:15px;
    border-radius:50%;
    -webkit-border-radius:50%;
    padding-right:8px !important;
}
ul.top-menu>li>a:hover,ul.top-menu>li>a:focus {
    background:#32D2C9;
    text-decoration:none;
    color:rgba(0,0,0,0.3) !important;
    padding-right:8px !important;
}
.notify-row .badge {
    position:absolute;
    right:-10px;
    top:-10px;
    z-index:100;
}
.dropdown-menu.extended {
    max-width:320px !important;
    min-width:160px !important;
    top:42px;
    width:300px !important;
    padding:0 10px;
    box-shadow:0 0px 5px rgba(0,0,0,0.1) !important;
    border-radius:5px;
    -webkit-border-radius:5px;
    background:#fff;
    border:none;
    left:-10px;
}
.notify-row .notification span.label {
    display:inline-block;
    height:21px;
    padding:5px;
    width:22px;
    font-size:12px;
    margin-right:10px;
}
.dropdown-menu.extended .alert-icon,.noti-info {
    float:left;
}
.noti-info {
    padding-left:10px;
    padding-top:6px;
    color:#414147;
}
.dropdown-menu.extended .alert {
    margin-bottom:10px;
}
.dropdown-menu.extended .alert-icon {
    border-radius:100%;
    display:inline-block;
    height:35px;
    width:35px;
}
.dropdown-menu.extended .alert-icon i {
    font-size:16px;
    width:35px;
    line-height:35px;
    height:35px;
}
.dropdown-menu.extended.inbox li a,.dropdown-menu.extended.tasks-bar li a {
    background:#f1f2f7;
    border-radius:5px;
    -webkit-border-radius:5px;
    padding:10px;
    margin-bottom:10px;
    float:left;
    width:100%;
}
.dropdown-menu.extended li p {
    margin:0;
    padding:10px 0;
    border-radius:0px;
    -webkit-border-radius:0px;
}
.dropdown-menu.extended li a {
    font-size:12px;
    list-style:none;
}
.dropdown-menu.extended.logout {
    padding:10px;
}
.dropdown-menu.extended.logout li a {
    padding:10px;
}
.dropdown-menu.extended li a:hover {
    color:#32323a;
}
.dropdown-menu.tasks-bar .task-info .desc {
    font-size:13px;
    font-weight:normal;
    float:left;
    width:80%;
}
.dropdown-menu.tasks-bar .task-info .desc h5 {
    color:#32323a;
    text-transform:uppercase;
    font-size:12px;
    font-weight:600;
    margin-bottom:5px;
    margin-top:0;
}
.dropdown-menu.tasks-bar .task-info .desc p {
    padding-top:0;
    color:#8f8f9b;
    font-weight:300;
}
.dropdown-menu.tasks-bar .task-info .percent {
    width:20%;
    float:right;
    font-size:13px;
    font-weight:600;
    padding-left:10px;
    line-height:normal;
}
.dropdown-menu.tasks-bar .progress {
    background:#fff;
}
.dropdown-menu.extended .progress {
    margin-bottom:0 !important;
    height:10px;
}
.dropdown-menu.inbox li a .photo img {
    border-radius:2px 2px 2px 2px;
    -webkit-border-radius:2px 2px 2px 2px;
    float:left;
    height:40px;
    margin-right:10px;
    width:40px;
}
.dropdown-menu.inbox li a .subject {
    display:block;
}
.dropdown-menu.inbox li a .subject .from {
    font-size:12px;
    font-weight:600;
}
.dropdown-menu.inbox li a .subject .time {
    font-size:11px;
    font-style:italic;
    font-weight:bold;
    position:absolute;
    right:20px;
}
.dropdown-menu.inbox li a .message {
    display:block !important;
    font-size:11px;
}
.top-nav {
    margin-top:20px;
}
.top-nav img {
    border-radius:50%;
    -webkit-border-radius:50%;
    width:33px;
}
.top-nav ul.top-menu>li .dropdown-menu.logout {
    width:170px !important;
}
.top-nav li.dropdown .dropdown-menu {
    float:right;
    right:0;
    left:auto;
}
.dropdown-menu.extended.logout>li {
    float:left;
    width:100%;
}
.log-arrow-up {
    background:url("../images/top-arrow.png") no-repeat;
    width:18px;
    height:10px;
    margin-top:-20px;
    float:right;
    margin-right:15px;
}
.dropdown-menu.extended.logout>li>a {
    border-bottom:none !important;
}
.full-width .dropdown-menu.extended.logout>li>a:hover {
    background:#F1F2F7 !important;
    color:#32323a !important;
}
.dropdown-menu.extended.logout>li>a:hover {
    background:#F1F2F7 !important;
    border-radius:5px;
}
.dropdown-menu.extended.logout>li>a:hover i {
    color:#32D2C9;
}
.dropdown-menu.extended.logout>li>a i {
    font-size:17px;
}
.dropdown-menu.extended.logout>li>a>i {
    padding-right:10px;
}
.top-nav .username {
    font-size:13px;
    color:#555555;
}
.top-nav ul.top-menu>li>a {
    border-radius:100px;
    -webkit-border-radius:100px;
    padding:0px;
    background:none;
    margin-right:0;
    border:1px solid #F6F6F6;
    background:#F6F6F6;
}
.top-nav ul.top-menu>li.language>a {
    margin-top:-2px;
    padding:4px 12px;
    line-height:20px;
}
.top-nav ul.top-menu>li.language>a img {
    border-radius:0;
    -webkit-border-radius:0;
    width:18px;
}
.top-nav ul.top-menu>li.language ul.dropdown-menu li img {
    border-radius:0;
    -webkit-border-radius:0;
    width:18px;
}
.top-nav ul.top-menu>li {
    margin-left:10px;
}
.top-nav ul.top-menu>li>a:hover,.top-nav ul.top-menu>li>a:focus {
    border:1px solid #f6f6f6;
    background:#f6f6f6 !important;
    border-radius:100px;
    -webkit-border-radius:100px;
}
.top-nav .dropdown-menu.extended.logout {
    top:50px;
}
.top-nav .nav .caret {
    border-bottom-color:#A4AABA;
    border-top-color:#A4AABA;
}
.top-nav ul.top-menu>li>a:hover .caret {
    border-bottom-color:#000;
    border-top-color: #000;
}
/*form*/
.position-center {
    width:62%;
    margin: 0 auto;
}
/*----*/
.notify-arrow {
    background:url("../images/top-arrow.png") no-repeat;
    width:18px;
    height:10px;
    margin-top:0;
    opacity:0;
    position:absolute;
    left:16px;
    top:-20px;
    transition:all 0.25s ease 0s;
    z-index:10;
    margin-top:10px;
    opacity: 1;
}





/*--sidebar toggle---*/
.sidebar-toggle-box {
    float:left;
    margin-top:23px;
    margin-left:-15px;
    background:#32d2c9;
    border-radius:50%;
    -webkit-border-radius:50%;
    width:32px;
    height:32px;
    position:absolute;
    right:-15px;
}
.sidebar-toggle-box .fa-bars {
    cursor:pointer;
    display:inline-block;
    font-size:15px;
    padding:8px 8px 8px 9px;
    color:rgba(0,0,0,.3);
}
.sidebar-toggle-box:hover {
    background:#F6F6F6;
}
.hide-left-bar {
    margin-left:-240px !important;
    -webkit-transition:all .3s ease-in-out;
    -moz-transition:all .3s ease-in-out;
    -o-transition:all .3s ease-in-out;
    transition:all .3s ease-in-out;
}
.open-right-bar {
    right:0px !important;
    -webkit-transition:all .3s ease-in-out;
    -moz-transition:all .3s ease-in-out;
    -o-transition:all .3s ease-in-out;
    transition:all .3s ease-in-out;
}
.merge-left {
    margin-left:0px !important;
}
.hide-right-bar {
    margin-right:-240px !important;
    -webkit-transition:all .3s ease-in-out;
    -moz-transition:all .3s ease-in-out;
    -o-transition:all .3s ease-in-out;
    transition:all .3s ease-in-out;
}
.toggle-right-box {
    float:left;
    background:#f6f6f6;
    border-radius:50%;
    -webkit-border-radius:50%;
    width:35px;
    height:35px;
}
.toggle-right-box:hover {
    background:#32D2C9;
}
.toggle-right-box:hover .fa-bars {
    color:rgba(0,0,0,0.3);
}
.toggle-right-box .fa-bars {
    cursor:pointer;
    display:inline-block;
    font-size:15px;
    padding:10px;
    color: #bfbfc1;
}
/*right sidebar*/
.right-sidebar {
    background:#32323A;
    width:240px;
    position:fixed;
    height:100%;
    z-index:1000;
    right:-240px;
    top:0;
    -webkit-transition:all .3s ease-in-out;
    -moz-transition:all .3s ease-in-out;
    -o-transition:all .3s ease-in-out;
    transition:all .3s ease-in-out;
}
.open-right-panel {
    margin-left:-240px !important;
}
.right-sidebar .search-row {
    padding:20px;
}
.right-sidebar .search-row input {
    background:rgba(0,0,0,0.3);
    border:none;
    color:#707076;
    font-size:12px;
}
.right-side-accordion {
    margin-top:6px;
}
.right-side-accordion .head {
    padding:20px;
    text-transform:uppercase;
    width:100%;
    display:inline-block;
}
.right-side-accordion .red-bg {
    background:#fa8564;
    color:#fff;
}
.right-side-accordion .terques-bg {
    background:#45c9c4;
    color:#fff;
}
.right-side-accordion .purple-bg {
    background:#a48ad4;
    color:#fff;
}
.right-side-accordion .yellow-bg {
    background:#f3c022;
    color:#fff;
}
.prog-row {
    border-bottom:1px solid #3C3C44;
    display:inline-block;
    padding:20px 0;
    width:100%;
}
.prog-row .progress {
    margin-bottom:0;
}
.prog-row h4 {
    margin:0;
    font-size:12px;
    text-transform:uppercase;
    color:#fff;
    font-weight:400;
}
.user-details h4 {
    text-transform:none;
    font-size:14px;
    font-weight:300;
}
.prog-row p {
    font-size:10px;
    color:#8f8f9b;
    margin-bottom:0;
}
.mtop10 {
    margin-top:10px;
}
.user-thumb,.user-details,.user-status,.rsn-details {
    float:left;
}
.user-thumb {
    width:30px;
    margin:0 10px 0 20px;
}
.user-thumb img {
    border-radius:50%;
    -webkit-border-radius:50%;
    width:30px;
    height:30px;
}
.user-details {
    width:150px;
}
.rsn-details {
    width:170px;
}
.rsn-details a,.rsn-details a:hover {
    color:#a48ad4;
    font-size:11px;
}
.user-details a {
    color:#fff;
}
.user-status {
    width:25px;
    margin-top:5px;
}
.view-btn,.view-btn:hover {
    color:#6c6c72;
    margin:10px 0;
    display:inline-block;
}
.view-btn:hover {
    text-decoration:underline;
}
.rsn-activity i {
    font-size: 30px;
}
/*state overview*/
.state-overview .symbol,.state-overview .value {
    display:inline-block;
    text-align:center;
}
.state-overview .value {
    float:right;
}
.state-overview .value h1,.state-overview .value p {
    margin:0;
    padding:0;
    color:#c6cad6;
}
.state-overview .value h1 {
    font-weight:300;
}
.state-overview .symbol i {
    color:#fff;
    font-size:50px;
}
.state-overview .symbol {
    width:40%;
    padding:25px 15px;
    -webkit-border-radius:4px 0px 0px 4px;
    border-radius:4px 0px 0px 4px;
}
.state-overview .value {
    width:58%;
    padding-top:21px;
}
.state-overview .terques {
    background:#6ccac9;
}
.state-overview .red {
    background:#ff6c60;
}
.state-overview .yellow {
    background:#f8d347;
}
.state-overview .blue {
    background: #57c8f2;
}